@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cst3qj');
  src:  url('fonts/icomoon.eot?cst3qj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cst3qj') format('truetype'),
    url('fonts/icomoon.woff?cst3qj') format('woff'),
    url('fonts/icomoon.svg?cst3qj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-symbol:before {
  content: "\e90b";
}
.icon-corazon:before {
  content: "\e90a";
}
.icon-icon-triangulo:before {
  content: "\e909";
}
.icon-icon-down:before {
  content: "\e908";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-ICONOS-01:before {
  content: "\e900";
}
.icon-ICONOS-02:before {
  content: "\e901";
}
.icon-ICONOS-03:before {
  content: "\e902";
}
.icon-ICONOS-04:before {
  content: "\e903";
}
.icon-ICONOS-05:before {
  content: "\e904";
}
.icon-ICONOS-06:before {
  content: "\e905";
}
.icon-ICONOS-07:before {
  content: "\e906";
}
.icon-ICONOS-08:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
