.footer
	background: $c-4
	padding: 0 20px

.footer__content
	max-width: 1200px
	width: 100%
	margin: auto

.footer__content__top
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	padding-top: 65px
	padding-bottom: 37px

.footer__content__bottom
	border-top: 1px solid rgba(255,255,255,.5)
	padding-top: 25px
	padding-bottom: 33px

.footer__column__left
	width: 29%
	margin: 0

.footer__column__center
	width: 50%
	padding-top: 10px
	margin: 0

.footer__column__right
	width: 21%
	padding-top: 10px
	margin: 0

.footer__logo
	width: 245px
	margin: 0
	margin-bottom: 15px
	img
		display: block
		width: 100%
		height: auto

.footer__menu__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap

.footer__menu__item
	width: 50%
	margin-bottom: 30px

.footer__menu__link
	display: inline-block
	line-height: 1
	color: $blanco
	font-family: $t-3
	font-size: 16px
	position: relative
	padding-left: 15px
	&:before
		content: ""
		width: 4px
		height: 4px
		background: $blanco
		border-radius: 50%
		position: absolute
		top: 0
		left: 0
		bottom: 0
		margin: auto

.footer__info__title
	margin-bottom: 25px
	h3
		color: $blanco
		font-family: $t-3
		font-size: 16px
		position: relative
		padding-left: 15px
		margin-bottom: 0
		&:before
			content: ""
			width: 4px
			height: 4px
			background: $blanco
			border-radius: 50%
			position: absolute
			top: 0
			left: 0
			bottom: 0
			margin: auto

.footer__info__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center

.footer__info__box--responsive
	display: none

.footer__info__text,
.footer__info__icon
	display: block
	line-height: 1
	color: $blanco
	margin: 0

.footer__info__text--phone
	font-family: $t-2
	font-size: 23px

.footer__info__icon--phone
	font-size: 25px
	margin-right: 10px

.footer__info__text--email
	font-family: $t-0
	font-size: 16px

.footer__copy
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	max-width: 1200px
	width: 100%
	margin: auto

.footer__copy__left,
.footer__copy__right
	line-height: 1
	color: $blanco
	font-family: $t-3
	font-size: 11px
	p
		margin: 0

.footer__copy__left
	opacity: .5

.footer__copy__right
	a
		color: $blanco

.footer__copy__icon
	display: inline-block
	vertical-align: middle
	color: #b97380
	margin-left: 1px
	margin-right: 3px

.staffteam
	font-family: $t-2
	font-weight: normal
	position: relative
	padding-right: 0.45em
	&:after
		content: '\e60e'
		font-family: $icomoon
		font-size: 0.7em
		font-style: normal
		font-variant: normal
		font-weight: normal
		line-height: 1
		position: absolute
		right: -1px
		speak: none
		text-transform: none
		top: -3px

// responsive
@media screen and (max-width: 1024px)
	.footer__content__top
		padding-top: 50px
		padding-bottom: 25px

	.footer__content__bottom
		padding-top: 20px
		padding-bottom: 25px

	.footer__column__left
		width: 30%

	.footer__column__center
		width: 48%

	.footer__column__right
		width: 22%

	.footer__logo
		max-width: 170px

	.footer__menu__item
		margin-bottom: 25px

	.footer__menu__link
		font-size: 14px

	.footer__info__title
		h3
			font-size: 14px

	.footer__info__text--phone
		font-size: 20px

	.footer__info__text--email
		font-size: 14px

@media screen and (max-width: 960px)
	.footer__content__top
		padding-top: 30px
		padding-bottom: 30px

	.footer__column__left,
	.footer__column__center
		display: none

	.footer__column__right
		width: 100%
		padding-top: 0

	.footer__info__wrap
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between

	.footer__info__box
		margin: 0

	.footer__info__box--responsive
		display: flex

@media screen and (max-width: 767px)
	.footer
		padding-left: 15px
		padding-right: 15px

	.footer__content__top
		padding-top: 20px
		padding-bottom: 20px

	.footer__content__bottom
		padding-top: 15px
		padding-bottom: 15px

	.footer__column__right
		text-align: center

	.footer__info__title
		h3
			display: inline-block
			padding-left: 0
			&:before
				display: none

	.footer__info__wrap
		flex-direction: column
		justify-content: flex-start
		align-items: center

	.footer__info__box--responsive
		margin-top: 20px

	.footer__info__icon--phone
		font-size: 22px

	.footer__info__text--phone
		font-size: 18px

	.footer__info__text--email
		font-size: 13px

	.footer__copy
		flex-direction: column
		align-items: center

	.footer__copy__left
		line-height: 1.4
		text-align: center
		margin-bottom: 15px