body
	&.active
		overflow: hidden

.page__home
	.header
		height: auto
		background: transparent
	.header__main
		background: transparent
	.header__button
		background: $negro
		border: 1px solid $negro
		@media screen and (min-width: 1025px)
			&:hover
				background: $blanco
				color: $c-3

// +++ header +++
.header
	height: 92px
	background: $negro
	&.active
		// height: 71px
		.header__main
			background: $negro
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2)
			padding-top: 15px
			padding-bottom: 15px
		.header__logo__img
			width: 170px
		.header__button
			padding-top: 12px
			padding-bottom: 12px

.header__main
	width: 100%
	background: $negro
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0)
	position: fixed
	top: 0
	left: 0
	z-index: 140
	transition: all .25s ease-in-out
	box-sizing: border-box
	padding: 19px 20px

.header__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	max-width: 1166px
	width: 100%
	margin: auto

.header__content__left
	a
		display: block

.header__content__left--url
	display: none

.header_content__right
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	font-size: 0

.header__logo
	display: block

.header__logo__img
	width: 245px
	transition: all .25s ease-in-out
	img
		display: block
		width: 100%
		height: auto

.header__menu__text
	display: inline-block
	line-height: 1
	color: $blanco
	font-family: $t-3
	font-size: 14px
	margin-left: 35px

.header__menu
	display: block
	width: 30px
	height: 30px
	background: transparent
	cursor: pointer
	border: 1px solid $blanco
	border-radius: 50%
	position: relative
	transition: all .25s ease-in-out
	margin-left: 10px
	@media screen and (min-width: 1025px)
		&:hover
			.header__menu__line--bottom
				width: 8px

.header__menu__container
	display: block
	width: 13px
	height: 13px
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto

.header__menu__line
	display: block
	height: 1px
	background: $blanco
	border-radius: 25px
	position: absolute
	right: 0
	transition: all .25s ease-in-out

.header__menu__line--top
	width: 100%
	top: 0

.header__menu__line--center
	width: 100%
	top: 0
	bottom: 0
	margin: auto

.header__menu__line--bottom
	width: 100%
	bottom: 0

@media screen and (max-width: 1024px)
	.header__main
		padding-top: 15px
		padding-bottom: 15px

	.header__logo__img
		width: 170px

	.header__button
		padding-top: 12px
		padding-bottom: 12px

@media screen and (max-width: 767px)
	.header.active
		.header__logo__img
			width: 140px

	.header__logo__img
		width: 140px

	.header__button
		padding-left: 25px
		padding-right: 25px

	.header__menu__text
		display: none

@media screen and (max-width: 480px)
	.header.active
		.header__logo__img
			width: 120px
		.header__button
			padding-top: 10px
			padding-bottom: 10px

	.header__main
		padding-left: 10px
		padding-right: 10px

	.header__logo__img
		width: 120px

	.header__button
		font-size: 12px
		padding-top: 10px
		padding-left: 15px
		padding-right: 15px
		padding-bottom: 10px
// --- end ---

// +++ menu hamburguesa +++
.menu__overlay
	display: block
	width: 100%
	height: 100%
	background: $negro
	position: fixed
	top: 0
	right: 0
	z-index: -1
	opacity: 0
	visibility: hidden
	transition: opacity .25s ease .2s
	&.active
		z-index: 2000
		opacity: .7
		visibility: visible

.menu
	width: 0%
	height: 0%
	overflow: hidden	
	background: $blanco
	position: fixed
	top: 1.875rem
	right: 1.25rem
	z-index: 2400
	transition: right 350ms ease, width 350ms ease, top 350ms ease, height 350ms ease
	box-sizing: border-box
	padding-left: 20px
	padding-right: 20px
	margin: 0
	&.active
		width: calc(100% - 3.75rem)
		height: 480px
		top: 1.875rem
		right: 1.875rem
		.menu__logo,
		.menu__button
			z-index: 1
			transform: translateY(0)
			opacity: 1
			visibility: visible
			transition: all .3s linear .3s
		.menu__links,
		.menu__foot
			z-index: 1
			opacity: 1
			visibility: visible
			transform: translateX(0px)
			transition: transform .7s ease .7s, opacity .7s ease .7s

.menu__content
	max-width: 1200px
	width: 100%
	padding-top: 30px
	margin: auto

.menu__head
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	padding-right: 50px
	margin-bottom: 25px

.menu__head__right
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	width: 280px

.menu__logo
	max-width: 227px
	width: 100%
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.menu__button
	padding: 11.5px 30px
	margin: 0

.menu__logo,
.menu__button
	position: relative
	z-index: -1
	opacity: 0
	visibility: hidden
	transform: translateY(-50px)

.menu__close
	display: block
	width: 30px
	height: 30px
	line-height: 30px
	color: $negro
	font-weight: bold
	font-size: 28px
	text-align: center
	cursor: pointer
	opacity: 0
	visibility: hidden
	transform: translateX(50px) rotate(90deg)
	transition: transform .3s ease .3s, opacity .3s ease .3s
	margin: 0
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0px) rotate(0deg)

.menu__links,
.menu__foot
	position: relative
	z-index: -1
	opacity: 0
	visibility: hidden
	transform: translateX(100px)

.menu__links
	margin-bottom: 65px

.menu__links__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap

.menu__links__item
	margin: 0
	margin-top: 70px
	margin-right: 10%

.menu__links__enlace
	display: inline-block
	line-height: 1
	color: $negro
	font-family: $t-2
	font-size: 27px
	transition: all .25s ease-in-out
	sup
		font-family: $t-3
		font-size: 21px
		top: -0.3em
	&.active
		color: $c-3
	@media screen and (min-width: 1025px)
		&:hover
			color: $c-3

.menu__foot
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	border-top: 1px solid rgba(193,193,193,.5)
	padding-top: 35px

.menu__foot__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	line-height: 1
	color: #808080
	font-family: $t-2
	margin: 0

.menu__foot__box--subtitle
	font-size: 16px
	margin-right: 35px

.menu__foot__box--phone
	font-size: 23px
	margin-right: 70px

.menu__foot__box--email
	font-size: 18px

.menu__foot__icon
	font-size: 25px
	margin: 0
	margin-right: 5px

.menu__foot__box__text
	margin: 0

@media screen and (max-width: 1024px)
	.menu
		&.active
			height: 400px

	.menu__content
		max-width: 860px

	.menu__head__right
		width: 250px

	.menu__logo
		max-width: 180px

	.menu__links
		margin-bottom: 50px

	.menu__links__item
		margin-top: 50px
		margin-right: 7%

	.menu__links__enlace
		font-size: 20px
		sup
			font-size: 18px
	.menu__foot__box--subtitle
		font-size: 15px

	.menu__foot__box--phone
		font-size: 20px
		margin-right: 50px

	.menu__foot__box--email
		font-size: 16px

@media screen and (max-width: 960px)
	.menu__links__enlace
		font-size: 16px
		sup
			font-size: 14px

	.menu__foot__box--phone
		font-size: 18px
		margin-right: 45px

	.menu__foot__box--email
		font-size: 15px

	.menu__foot__icon
		font-size: 22px

@media screen and (max-width: 767px)
	.menu
		overflow: auto
		top: 1.100rem
		padding-left: 15px
		padding-right: 15px
		&.active
			top: 1.100rem
			right: 1.100rem
			width: calc(100% - 2.20rem)
			height: calc(100% - 2.20rem)

	.menu__content
		overflow: hidden
		padding-top: 20px
		padding-bottom: 20px

	.menu__head
		padding-right: 20px

	.menu__head__right
		width: auto

	.menu__logo
		max-width: 130px

	.menu__links
		margin-bottom: 30px

	.menu__links__wrap
		flex-direction: column

	.menu__links__item
		margin-top: 30px

	.menu__button
		display: none

	.menu__foot
		flex-direction: column
		align-items: flex-start

	.menu__foot__box
		margin-bottom: 15px

@media screen and (max-width: 480px)
	.menu__foot__box--subtitle
		font-size: 14px

	.menu__foot__box--phone
		font-size: 16px

	.menu__foot__box--email
		font-size: 13px

	.menu__foot__icon
		display: none
// --- end ---