footer.footer
	.footer__content
		.footer__content__top
			article.footer__column__left
				figure.footer__logo
					img(src=`${STATIC_URL}img/header-logo.png`, width="245", height="54", alt="")
				a(href="mailto:ventascorporativas@interperu.pe", class="footer__info__box footer__info__box--email footer__info__box--desktop")
							span.footer__info__text.footer__info__text--email ventascorporativas@interperu.pe
			article.footer__column__center
				nav.footer__menu
					ul.footer__menu__wrap
						li.footer__menu__item
							a(href="#", class="footer__menu__link") CAMIONES SEMINUEVO
						li.footer__menu__item
							a(href="#", class="footer__menu__link") RENOVAR MI CAMION
						li.footer__menu__item
							a(href="#", class="footer__menu__link") BENEFICIOS
						li.footer__menu__item
							a(href="#", class="footer__menu__link") CONTACTO
			article.footer__column__right
				.footer__info
					.footer__info__title
						h3 MÁS INFORMACIÓN
					.footer__info__wrap
						a(href="tel:994236574", class="footer__info__box footer__info__box--phone")
							span.footer__info__icon.footer__info__icon--phone.icon-ICONOS-06
							span.footer__info__text.footer__info__text--phone 994 236 574
						a(href="mailto:ventascorporativas@interperu.pe", class="footer__info__box footer__info__box--email footer__info__box--responsive")
							span.footer__info__text.footer__info__text--email ventascorporativas@interperu.pe
		.footer__content__bottom
			.footer__copy
				.footer__copy__left
					p Copyright <span id="id_year"></span> - Interperu. Todos Los Derechos Reservados
				.footer__copy__right
					a(href="http://www.staffdigital.pe/", target="_blank") Diseño web <span class="footer__copy__icon icon-corazon"></span>por <strong class="staffteam">staffDigital</strong>