//- +++ header +++
header.header
	.header__main
		.header__content
			.header__content__left
				a(href="home.html")
					figure.header__logo__img
						img(src=`${STATIC_URL}img/header-logo.png`, width="245", height="54", alt="")
			.header_content__right
				a(href="#", class="header__button btn-general btn-orange") Contacto
				span.header__menu__text Menú
				span.header__menu.openMenu
					span.header__menu__container
						span.header__menu__line.header__menu__line--top
						span.header__menu__line.header__menu__line--center
						span.header__menu__line.header__menu__line--bottom
//- --- end ---

//- +++ menu hamburguesa +++
span.menu__overlay.closeOverlay
article.menu
	.menu__content
		.menu__head
			.menu__head__left
				figure.menu__logo
					img(src=`${STATIC_URL}img/menu-logo.png`, width="227", height="50", alt="")
			.menu__head__right
				a(href="", class="menu__button btn-general btn-orange") Contacto
				span.menu__close.icon-close.closeMenu
		nav.menu__links
			ul.menu__links__wrap
				li.menu__links__item
					a(href="#", class="menu__links__enlace") <sup>01/</sup> camiones seminuevos
				li.menu__links__item
					a(href="#", class="menu__links__enlace") <sup>02/</sup> beneficios
				li.menu__links__item
					a(href="#", class="menu__links__enlace") <sup>03/</sup> renovar mi camión
				li.menu__links__item
					a(href="#", class="menu__links__enlace") <sup>04/</sup> contacto
		.menu__foot
			span.menu__foot__box.menu__foot__box--subtitle Más información:
			a(href="tel:994236574", class="menu__foot__box menu__foot__box--phone")
				span(class="menu__foot__icon icon-ICONOS-06")
				span(class="menu__foot__box__text") 994 236 574
			a(href="mailto:ventascorporativas@interperu.pe", class="menu__foot__box menu__foot__box--email")
				span(class="menu__foot__icon icon-ICONOS-07")
				span(class="menu__foot__box__text") ventascorporativas@interperu.pe
//- --- end ---