extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
//- body classs
block vars
	- var title = 'beneficios'
//- Contenido
block content
	section.beneficios__banner
		.banner__general__container
			.banner__general__line
			.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
				.banner__general__content
					.banner__general__text.banner__general__text--block
						h2 Conoce los beneficios que 
							strong tenemos para ti 
	section.beneficios
		.beneficios__container
			.beneficios__content
				- for (var x = 0; x < 4; x++)
					.beneficios__item
						.beneficios__img
							img(src=`${STATIC_URL}img/beneficios-img.jpg`, alt="")
						.beneficios__info
							.beneficios__box
								.beneficios__title
									h3.titulo-h3.beneficios__title--color Revisión minuciosa de las Unidades
								.beneficios__text
									p.parrafo-general.parrafo-grey.parrafo-align-left.componente-titulo-parrafo--margin-top Las unidades seminuevas que se reciben en parte de pago han sido minuciosamente revisadas por nuestro personal técnico reparando cualquier falla mecánica o de carrocería con la que haya llegado y haciéndole un mantenimiento total para que nuestras unidades estén listas para trabajar inmediatamente. Un seminuevo Inter Perú tiene para seguir trabajando y rentabilizando por un muy buen tiempo.
		.beneficiones__text__info
			.beneficiones__text__info__content
				p Somos INTERNATIONAL CAMIONES DEL PERU S.A., nuevo distribuidor oficial de la marca INTERNATIONAL para todo el territorio peruano. NAVISTAR INC., propietaria de la marca de camio nes INTERNATIONAL ha seleccionado y confiado el desarrollo de la marca y atención a los clientes a nuestra empresa INTERNATIONAL CAMIONES DEL PERU S.A., que forma parte del GRUPO EUROMOTORS, solido grupo empresarial con amplia experiencia en el sector automotriz peruano, representando a una serie de marcas de prestigio como Porsche, Audi, VW, Man,  Seat y otras. 


//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			// ANIMATION
			$('.beneficios__item').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						$('.beneficios__item').eq(0).addClass('active');
					}
				}, {
					offset:'70%'
				});
			});
		})