extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'contacto'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.contacto__banner
		.banner__general__container
			.banner__general__line
			.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
				.banner__general__content
					.banner__general__text.banner__general__text--block
						h2 Estamos a tus servicios 
							strong ¡Escríbenos ahora!

	section.contacto__formulario
		.contacto__formulario__container
			.contacto__formulario__text
				.contacto__formulario__text__box
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			.contacto__formulario__content
				form.contacto__form
					ul
						li
							.contacto__form__input
								input.input-one.input--background-color-grey(name='', type='text', placeholder='Nombre*:'  class="validate[required]")
							.contacto__form__input
								input.input-one.input--background-color-grey(name='', type='tel', placeholder='Teléfono*:'  class="validate[required]")
						li
							.contacto__form__input
								input.input-one.input--background-color-grey(name='', type='text', placeholder='RUC o DNI*:'  class="validate[required]")
							.contacto__form__input
								input.input-one.input--background-color-grey(name='', type='email', placeholder='Email*:')
						li
							.contacto__form__select
								.general__input.general__input--select.general__input__icon--right
									.general__input__inside
										.general__input__ico.general__input__ico__right.icon-arrow-down
										select(name="", class="validate[required] general__input__input input--background-color-grey")
											option(value="0") Departamento*:
											option(value="1") Select1
											option(value="2") Select2
						li
							.contacto__form__textarea
								.general__input.general__input--textarea
									.general__input__inside
										textarea.input--background-color-grey( class="validate[required] general__input__input",placeholder="Mensaje:")
				.contacto__form__text
					p (*) Campos obligatorios
				.contacto__form__checkbox
					.general__input.general__input--check--radio.general__input--checkbox
						.general__input__inside
							input(type="checkbox", id="check1")
							label(for="check1", class="general__input--check--radio--label")
								.general__input__inside__container
									.general__input__figure
									.general__input__text Al completar este formulario, acepto estar informado de la forma, pautas y propósito del tratamiento de mis datos personales que se encuentran descritos en las Políticas de Privacidad de International S.A 
										a(href="") (Más información)
				.contacto__form__btn
					button.btn-general.btn-orange( href='') ENVIAR MENSAJE

			.contacto__info
				.contacto__info__content
					.contacto__info__box
						.contacto__info__text
							p Más información:
					.contacto__info__box
						.contacto__info__number
							span.icon-ICONOS-06
							p 994 236 574
					.contacto__info__box
						.contacto__info__email
							span.icon-ICONOS-07
							p ventascorporativas@interperu.pe

	section.contacto__map
		.contacto__map__container
			.contacto__map__content
				.contacto__map__box
					.contacto__map__box__container
						.contacto__map__title
							h2 Estamos cada vez mas cerca de ti
						.contacto__map__sedes
							.contacto__map__item
								.contacto__map__item__box
									.contacto__map__item__title
										h3 Central Lima
									.contacto__map__item__direction
										p Calle Los Cipreses 420 Urb. Los Ficus - Santa anita
									.contacto__map__item__link
										a(href="" class="move-map" data-map="0") ¿Como llegar?
							.contacto__map__item
								.contacto__map__item__box
									.contacto__map__item__title
										h3 SUCURSAL AREQUIPA
									.contacto__map__item__direction
										p Vía Evitamiento Km. 3.9 - Cerro Colorado
									.contacto__map__item__link
										a(href="" class="move-map" data-map="1") ¿Como llegar?
							.contacto__map__item
								.contacto__map__item__box
									.contacto__map__item__title
										h3 SUCURSAL TRUJILLO
									.contacto__map__item__direction
										p Av. Teodoro Valcárcel 1091 - Urb. Santa Leonor
									.contacto__map__item__link
										a(href="" class="move-map" data-map="2") ¿Como llegar?
							.contacto__map__item
								.contacto__map__item__box
									.contacto__map__item__title
										h3 Central Lima
									.contacto__map__item__direction
										p Calle Los Cipreses 420 Urb. Los Ficus - Santa anita
									.contacto__map__item__link
										a(href="" class="move-map" data-map="3") ¿Como llegar?

			.contacto__map__map
				.mapcontacto
					.cnt-map
						.abrir-map Abrir mapa
						.box-map
							#google-maplima.map
							.btn-azul.cerrar-map cerrar mapa

	

//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {

			var markers = new Array();
			var map;

			var locations = [
				['<h4>peru 1</h4>', -12.0514185,-76.9784332,17],
				['<h4>peru 2</h4>', -16.372969, -71.5775639],
				['<h4>peru 3</h4>', -8.0942755, -79.0316358,17],
				['<h4>peru 4</h4>', -12.086636, -77.031926,18],
			  ];

			var iconBase = '../assets/';


			var icons = [
				iconBase + 'img/marker.png',
			]
			var iconsLength = icons.length;

			function initialize() {
			  var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
			  var styles = [
							{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
									{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
									{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
									{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
									{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
									{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
									{"featureType": "transit","stylers": [{"visibility": "off"}]},
									{"featureType": "poi","stylers": [{"visibility": "off"}]}
							   ]
				var mapOptions = {
					  zoom             : 14,
					  center           : myLatlng,
					  mapTypeControl   : true,
					  disableDefaultUI : true,
					  zoomControl      : true,
					  scrollwheel      : false,
					  draggable        : true,
					  styles           : styles
				  }

				map = new google.maps.Map(document.getElementById('google-maplima'),mapOptions);


				var infowindow = new google.maps.InfoWindow({
					maxWidth: 160
				});


				// Add the markers and infowindows to the map
				for (var i = 0; i < locations.length; i++) {
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(locations[i][1], locations[i][2]),
						map: map,
						icon: icons[0],
						title: 'Click para zoom'
					});
					markers.push(marker);


				google.maps.event.addListener(marker, 'click', (function (marker, i) {
				  return function () {
					infowindow.setContent(locations[i][0]);
					infowindow.open(map, marker);
					map.setZoom(16);
					map.setCenter(marker.getPosition());
					this.setIcon(iconBase + 'img/marker.png');
				  }
				})(marker, i));

				}
			  }

			  google.maps.event.addDomListener(window,'load',initialize);
			  function triggerClick(i) {
				setTimeout(google.maps.event.trigger(markers[i], 'click'), 2000);
			  }

			  $('.move-map').click(function(e){
				e.preventDefault();
				triggerClick($(this).data('map'));
				return false;
			  });

			  $('.move-map').click(function(e){
				e.preventDefault();
				$(this).data('map');
				$(".box-map").addClass('anima-map');
			  });
			  $(".cnt-map .abrir-map").click(function(e) {
				$(".box-map").addClass('anima-map');
			  });
			  $(".cnt-map .cerrar-map").click(function(e) {
				$(".box-map").removeClass('anima-map');
			  });

			   $(window).resize(function(){
				$(".cnt-map .cerrar-map").click(function(e) {
				  $(".box-map").removeClass('anima-map');
				});
			  });
		});
