extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)
block vars
	- var title = 'detalle producto'
//- Contenido
block content
	section.detalle-producto__section
		.detalle-producto__content
			.detalle-producto__content-button
				.detalle-producto__box-button
					a.btn-general-icon.btn-white( href='') anterior
				.detalle-producto__box-button
					a.btn-general-icon2.btn-white( href='') siguiente
			.detalle-producto__content-data
				.detalle-producto__data-box
					.tab__carrousel__wrap.tab__carrousel--js.tab__carrousel--horizontal
						.tab__carrousel__image__big__wrap
							.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab1
								img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
							.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab2
								img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
							.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab3
								img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
							.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab4
								img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
							.tab__carrousel__image__big.tab__carrousel__image__big--js#product-Tab5
								img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
						.tab__carrousel__items__wrap.tab__carrousel__items--js
							ul.tab__carrousel__list__items.tab__carrousel__items--pitcher
								li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab1")
									.tab__carrousel__items__item-img
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
								li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab2")
									.tab__carrousel__items__item-img
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
								li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab3")
									.tab__carrousel__items__item-img
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
								li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab4")
									.tab__carrousel__items__item-img
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
								li.tab__carrousel__items__item.tab__carrousel__items__item--js.btn-hider(data-id="product-Tab5")
									.tab__carrousel__items__item-img
										img(src=`${STATIC_URL}img/tab-img.jpg`, width="629", height="497", alt="")
				.detalle-producto__data-box
					.detalle-producto__box-right
						.detalle-producto__box-right--datos-content
							.detalle-producto__box-right--datos
								h2.titulo-h2.titulo-color-black Work Start Mixer
							.detalle-producto__box-right--datos.detalle-producto__box-right--datos-padding-left
								span.detalle-producto__box-right--span PRECIO:
								h3.titulo-h3.titulo-color-orange U$S 120.000.00
						.detalle-producto__box-right--datos-content2
							ul.detalle-producto__box-right--ul
								li.detalle-producto__box-right--li-border.detalle-producto__box-right--li-padding
										p MARCA
											strong Electrall
								li.detalle-producto__box-right--li-border.detalle-producto__box-right--li-padding 
										p MODELO
											strong Work
								li.detalle-producto__box-right--li-padding 
									p AÑO
										strong 2013
						.detalle-producto__box-right--buttons
							.detalle-producto__box-right--button-box
								a(href='').lightgallery__video--pitcher.detalle-producto__box-right--button-a.parrafo-general VIDEO:
									.detalle-producto__box-right--button-icon
										ico.icon-icon-triangulo
							.detalle-producto__box-right--button-box.detalle-producto__box-right--button-a-orange
								a(href='').btn-general.btn-orange contactanos
			.detalle-producto__content-producto
				h3.titulo-h3.titulo-color-black Acerca del producto
				.detalle-producto__tab-content
					.detalle-producto__tab-menu
						a.detalle-producto__tab-boton(href="#") MÁS ESPECIFICACIONES +
						a.detalle-producto__tab-boton(href="#") FINANCIAMIENTO
					.tabcontent
						.detalle-producto__box-especificaciones-content.parrafo-general
							.detalle-producto__box-especificaciones
								p Km
									strong 102000
							.detalle-producto__box-especificaciones
								p Desplazamiento (Cilindrado):
									strong 1900
							.detalle-producto__box-especificaciones
								p Transmisión:
									strong 100
							.detalle-producto__box-especificaciones
								p Nº de Marchas:
									strong 100
							.detalle-producto__box-especificaciones
								p Horas:
									strong 3hrs
							.detalle-producto__box-especificaciones
								p Potencia Máximo:
									strong 100
							.detalle-producto__box-especificaciones
								p Tipo:
									strong 100
							.detalle-producto__box-especificaciones
								p Eje Posterior:
									strong 100
							.detalle-producto__box-especificaciones
								p Embrague
									strong 100
							.detalle-producto__box-especificaciones
								p Tracción:
									strong 100
							.detalle-producto__box-especificaciones
								p Torque Máximo:
									strong 100
							.detalle-producto__box-especificaciones
								p Carrocería:
									strong 100
							.detalle-producto__box-especificaciones
								p Ratio Potencial:
									strong 100
							.detalle-producto__box-especificaciones
								p Suspensión Posterior:
									strong 100
							.detalle-producto__box-especificaciones
								p Eje Delantero:
									strong 100
					.tabcontent
						.detalle-producto__parrafo-tabcontent2
							p.parrafo-general
								| Trabajamos de la mano con todos los bancos, cajas e instituciones financieras a nivel nacional teniendo las mejores condiciones de financiamiento.
						.detalle-producto__logos-content-tabcontent2
							.detalle-producto__logo-tabcontent2
								img(src=`${STATIC_URL}img/detalle-producto-financiamiento-logo1.jpg`, width="", height="", alt="")
							.detalle-producto__logo-tabcontent2
								img(src=`${STATIC_URL}img/detalle-producto-financiamiento-logo2.jpg`, width="", height="", alt="")
							.detalle-producto__logo-tabcontent2
								img(src=`${STATIC_URL}img/detalle-producto-financiamiento-logo3.jpg`, width="", height="", alt="")
							.detalle-producto__logo-tabcontent2
								img(src=`${STATIC_URL}img/detalle-producto-financiamiento-logo4.jpg`, width="", height="", alt="")
						.detalle-producto__parrafo2-tabcontent2
							p.parrafo-general
								| Pregunta a nuestros asesores sobre nuestros planes de financimiento.
		section.detalle-producto__section-form
			.detalle-producto__container-form
				.detalle-producto__line-form
				.detalle-producto__content-form
					.detalle-producto__content-form-box
						.detalle-producto__h3-form
							h3.titulo-h3.titulo-color-black.titulo-align-left Solicita más información
						form.detalle-producto__form
							ul
								li.destalle-producto__form-50porcent
									.detalle-producto__form-input
										input.input-one.input--background-color-white(name='', type='text', placeholder='Nombre*:')
									.detalle-producto__form-input
										input.input-one.input--background-color-white(name='', type='tel', placeholder='Teléfono*:')
								li.destalle-producto__form-50porcent
									.detalle-producto__form-input
										input.input-one.input--background-color-white(name='', type='text', placeholder='RUC o DNI*:')
									.detalle-producto__form-input
										input.input-one.input--background-color-white(name='', type='email', placeholder='Email*:')
								li.destalle-producto__form-50porcent
									.detalle-producto__form-input
										.general__input.general__input--select.general__input__icon--right
											.general__input__inside
												.general__input__ico.general__input__ico__right.icon-arrow-down
												select(name="", class="general__input__input  general__input__input--background-color-white")
													option(value="0") Departamento*:
													option(value="1") Select1
													option(value="2") Select2
								li
									.detalle-producto__form-textarea
										.general__input.general__input--textarea
											.general__input__inside
												textarea( class="validate[required] general__input__input",placeholder="Mensaje:")
						.detalle-producto__form-text
							p (*) Campos obligatorios
						.detalle-producto__form-checkbox
							.general__input.general__input--check--radio.general__input--checkbox
								.general__input__inside
									input(type="checkbox", id="check1")
									label(for="check1", class="general__input--check--radio--label")
										.general__input__inside__container
											.general__input__figure
											.general__input__text.parrafo-general Al completar este formulario, acepto estar informado de la forma, pautas y propósito del tratamiento de mis datos personales que se encuentran descritos en las Políticas de Privacidad de International S.A 
												a(href="") (Más información)
						.detalle-producto__form-btn
							button.btn-general.btn-orange( href='') ENVIAR MENSAJE

	section.lightgallery__video__wrap(style='display: none;')
		#lightgallery__video--id.lightgallery__video
			a(href='https://www.youtube.com/watch?v=PiGz8JmI60M')
//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-zoom.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-video.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-autoplay.js`)
	script.
		$(()=>{
			//- tab producto
			//- const cl = q => console.log(q);
			$('.detalle-producto__tab-boton').each(function(k,ele){
				$(ele).click(function(e){
					e.preventDefault();
					$(this).parent().parent().find('a').removeClass('active')
					$(this).addClass('active')
					$('.tabcontent').stop().slideUp().eq($(e.target).index()).stop().slideDown()
				})
			})
			$('.detalle-producto__tab-boton').eq(0).trigger('click')
			
			
			// Tab carrousel
			$('.tab__carrousel__items__item--js:first-child').addClass('active');
			$('.tab__carrousel__image__big--js:first-child').addClass('active');
			
			var itemSl = $('.tab__carrousel__items__item--js').length;
			if (itemSl > 4) {
				$('.tab__carrousel--js').addClass('tab__carrousel--active');
				$('.tab__carrousel__items--pitcher').slick({
					infinite: true,
					autoplay: false,
					vertical:true,
					speed: 300,
					slidesToShow: 4,
					slidesToScroll: 1,
					vertical: false,
					responsive: [
						{
							breakpoint: 769,
							settings: {
								vertical:false
							}
						},
						{
							breakpoint: 768,
							settings: {
							slidesToShow: 3,
							slidesToScroll: 1
							}
						},
						{
							breakpoint: 576,
							settings: {
							slidesToShow: 2,
							slidesToScroll: 1
							}
						},
					]
				});
			};

			//Carrousel tab slider arrows
			$('.tab__carrousel__items--pitcher').on('beforeChange', function(event, slick, currentSlide, nextSlide){
				console.log(nextSlide);
				setTimeout(function(){
					id = $('.tab__carrousel__items__item--js.slick-current').attr('data-id');				
					$('.tab__carrousel__items__item--js').removeClass('active');
					$('.tab__carrousel__items__item--js.slick-current').addClass('active');
					$('.tab__carrousel__image__big--js').removeClass('active');
					$('.tab__carrousel__image__big--js[id="'+id+'"]').addClass('active');				
				},500);
			});		

			// Carrousel tab items
			$('.tab__carrousel--js .tab__carrousel__items--js .btn-hider').click(function(event){
				event.preventDefault();
				var buscaidtab = $(this).attr('data-id');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__items--js li').removeClass('active');			
				$(this).addClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js').removeClass('active');
				$(this).closest('.tab__carrousel--js').find('.tab__carrousel__image__big--js[id="'+buscaidtab+'"]').addClass('active');
			});

			// lightgallery galeria video 
			$('#lightgallery__video--id').lightGallery({
				selector:'a'
			});

			$('.lightgallery__video--pitcher').click(function(e) {
				e.preventDefault();
				$('.lightgallery__video a').click();
			});


		})