extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'page__home'

//- Contenido
block content
	section(class="home__slider", style=`background-image: url('${STATIC_URL}img/home-slider-fondo.jpg');`)
		.home__slider__main
			ul.home__slider__pitcher
				-for (var i = 0; i < 3; i++)
					li.home__slider__item
						.home__slider__container
							.home__slider__wrap
								article.home__slider__info
									.home__slider__tilte
										h1 Work Start Mixer
									.home__slider__button
										a(href="", class="home__slider__link")
											span.home__slider__link__text CONOCE MÁS
											span.home__slider__link__icon.icon-ICONOS-03
								figure.home__slider__img
									img(src=`${STATIC_URL}img/home-slider-image-${i+1}.png`, width="850", height="515", alt="")
		
		.home__mascaras
			span.home__triangle
				span.home__triangle__left
				span.home__triangle__right
			span.home__rectangular
			span.home__circle

//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script.
		$(()=>{
			//code here ------
			//- +++ home-slider +++
			homeSlider = $('.home__slider__pitcher').bxSlider({
				//- mode: 'fade',
				controls:false,
				auto:true,
				adaptiveHeight:true,
				pause: '5000',
				speed: '1000',
				controls: true,
				nextSelector: '',
				prevSelector: '',
				nextText: '',
				prevText: '',
				pager:false,
				onSliderLoad: function(currentIndex) {
					$('.home__slider__pitcher').children().eq(currentIndex+1).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.home__slider__pitcher').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>
		})