extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.home__block__container
		.home__block__right
			.home__block__right__title
				h3 Quiero dejar mi camión en parte de pago
			.home__block__right__button
				a(href='').btn-general.btn-orange MAS INFORMACIÓN

		.home__block__left
			.home__block__left__items
				.home__block__left__item
					.home__block__left__item__number 1
					.home__block__left__item__text 
						p Selecciona el camión International O Km que más se ajuste a tu necesidad
				.home__block__left__item
					.home__block__left__item__number 2
					.home__block__left__item__text
						p Selecciona el camión International O Km que más se ajuste a tu necesidad
				.home__block__left__item
					.home__block__left__item__number 3
					.home__block__left__item__text
						p Selecciona el camión International O Km que más se ajuste a tu necesidad

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})