extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

//- body classs
block vars
	- var bodyClass = 'page__home'
	- var title = 'home'

//- Contenido
block content
	section(class="home__slider", style=`background-image: url('${STATIC_URL}img/home-slider-fondo.jpg');`)
		.home__slider__main
			ul.home__slider__pitcher
				-for (var i = 0; i < 3; i++)
					li.home__slider__item
						.home__slider__container
							.home__slider__wrap
								article.home__slider__info
									.home__slider__tilte
										h1 Work Start Mixer
									.home__slider__button
										a(href="", class="home__slider__link")
											span.home__slider__link__text CONOCE MÁS
											span.home__slider__link__icon.icon-ICONOS-03
								figure.home__slider__img
									img(src=`${STATIC_URL}img/home-slider-image-${i+1}.png`, width="850", height="515", alt="")

	section.home__lines
		.home__mascaras
			span.home__triangle
				span.home__triangle__left
				span.home__triangle__right
			span.home__rectangular
			span.home__circle

	section.home__filtros
		.home__filtros__container
			.home__filtros__content
				.home__filtros__content__items
					.home__filtros__content__title
						p Encuentra el camión de tus sueños:
					.home__filtros__content__box
						.home__filtros__item
							.home__filtros__item__select
								select(name="")
									option(value="") Marca
									option(value="") Marca
									option(value="") Marca
						.home__filtros__item
							.home__filtros__item__select
								select(name="")
									option(value="") Modelo
									option(value="") Modelo
						.home__filtros__item
							.home__filtros__item__select
								select(name="")
									option(value="") Año
									option(value="") Año
									option(value="") Año
						.home__filtros__item
							.home__filtros__item__select
								select(name="")
									option(value="") Precio
									option(value="") Precio
						.home__filtros__btn
							a(href='').btn-general.btn-orange Buscar
			.home__filtros__autos
				.home__filtros__autos__title
					h3.titulo-h3.titulo-color-orange Camiones Seminuevos
				.home__filtros__box
					- for (var x = 0; x < 8; x++)
						.home__autos__item
							.home__autos__dcto__box
								.home__autos__dcto
									p 20% DCTO.
							.componente-producto__img
								img(src=`${STATIC_URL}img/producto-muestra.jpg`)
							.componente-producto__titulo
								h4 Work Start
							.componente-producto__lista
								ul
									li ELECTRALL
									li |
									li WORK
									li |
									li 2013
							.componente-producto__parrafo
								p U$S 120.000
							.componente-producto__btn
								a.btn-general.btn-orange( href='') MÁS DETALLES
				.home__filtros__autos__btn
					a(href='').btn-general.btn-black Ver todo

	section.home__beneficios
		.home__banner__line--2
		.home__beneficios__container
			.home__beneficios__background(style=`background-image: url('${STATIC_URL}img/img-home-beneficios.jpg');`)
				.home__beneficios__content
					.home__beneficios__box
						.home__beneficios__title
							h3 Conoce los beneficios que tenemos para ti
						.home__beneficios__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						.home__beneficios__btn
							a(href='').btn-general.btn-orange VER TODO
	.drawing
//- js
append scripts
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src=`${STATIC_URL}js/drawing.js`)
	script.
		$(()=>{
			//- +++ home-slider +++
			homeSlider = $('.home__slider__pitcher').bxSlider({
				//- mode: 'fade',
				controls:false,
				auto:true,
				adaptiveHeight:true,
				pause: '5000',
				speed: '1000',
				controls: true,
				nextSelector: '',
				prevSelector: '',
				nextText: '',
				prevText: '',
				pager:false,
				onSliderLoad: function(currentIndex) {
					$('.home__slider__pitcher').children().eq(currentIndex+1).addClass('active')
				},
				onSlideBefore: function($slideElement){
					$('.home__slider__pitcher').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>

			// agrupando creando divs DETALLES

			var width = $(window).innerWidth();
			if (width > 990) {
			}
			else{
				$('.home__filtros__box').each(function(i,el){
					$(this).slick({
						arrows: false,
						dots: false,
						infinite: true,
						autoplay: true,
						slidesToShow: 3,
						slidesScroll: 1,
						responsive: [
							{
								breakpoint: 690,
								settings: {
									slidesToShow: 2,
									slidesScroll: 1,
									infinite: true,
									autoplay: true,
									dots: false
								}
							},
							{
								breakpoint: 480,
								settings: {
									slidesToShow: 1,
									slidesScroll: 1,
									infinite: true,
									autoplay: true,
									dots: false
								}
							},
						]
					});
				});
			};


			//- slider inferior drawing
			var imgLeft = './assets/img/AZUL.jpg';
			var imgLeftResp = './assets/img/AZUL.jpg';
			var imgRight = './assets/img/NEGRO.jpg';
			var imgRightResp = './assets/img/NEGRO.jpg';
			var titleLeft = 'Renuévate';
			var textLeft = 'Entrega tu camión usado* en parte de pago y llévate un <strong>INTERNATIONAL 0 Km</strong>';
			if($(window).innerWidth() >= 1025){
				$('.drawing').append(`<div class="drawing-container" id="drawing-container"></div>`)
				drawing.init({
				container: $('#drawing-container'),
				targetType: '_blank',
				imgLeft: imgLeft,
				imgRight: imgRight,
				paragrahLeft: `
					<div class="home__block__right__title">
						<h3>Quiero dejar mi camión en parte de pago</h3>
					</div>`,
					LinkLeft:'http://google.co.ve',
					textBottomRight: 'MAS INFORMACIÓN',
				paragrahRight: `
					<div class="home__block__left">
						<div class="home__block__left__items">
							<div class="home__block__left__item">
								<div class="home__block__left__item__number">1</div>
								<div class="home__block__left__item__text"> 
									<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
								</div>
							</div>
							<div class="home__block__left__item">
								<div class="home__block__left__item__number">2</div>
								<div class="home__block__left__item__text">
									<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
								</div>
							</div>
							<div class="home__block__left__item">
								<div class="home__block__left__item__number">3</div>
								<div class="home__block__left__item__text">
									<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
								</div>
							</div>
						</div>
					</div>
				`,
				drag: $('.drawing-container__move')
			});
		}else{
				$('.drawing').append(`<div>
					<ul class="marcas__drawing--slider">
						<li class="marcas-line-slider">
							<figure style="background-image:url(${imgLeft})">
								<div class="home__block__right">
								<div class="home__block__right__title">
									<h3>Quiero dejar mi camión en parte de pago</h3>
								</div>
								<div class="home__block__right__button"><a class="btn-general btn-orange" href="">MAS INFORMACIÓN</a></div>
								</div>
							</figure>
						</li>
						<li class="marcas-line-slider">
							<figure style="background-image:url(${imgRight})">
								<div class="home__block__left">
									<div class="home__block__left__items">
										<div class="home__block__left__item">
											<div class="home__block__left__item__number">1</div>
											<div class="home__block__left__item__text"> 
												<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
											</div>
										</div>
										<div class="home__block__left__item">
											<div class="home__block__left__item__number">2</div>
											<div class="home__block__left__item__text">
												<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
											</div>
										</div>
										<div class="home__block__left__item">
											<div class="home__block__left__item__number">3</div>
											<div class="home__block__left__item__text">
												<p>Selecciona el camión International O Km que más se ajuste a tu necesidad</p>
											</div>
										</div>
									</div>
								</div>
							</figure>
						</li>
					</ul>
				</div>`)
				$('.drawing ul').slick({
					dots: false,
					infinite: false,
					speed: 300,
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false,
				})
			}
		})