extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
block vars
	- var title = 'listado'
//- Contenido
block content
	section.listado__banner
		.banner__general__container
			.banner__general__line
			.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
				.banner__general__content
					.banner__general__text
						h2 Elige Tu 
							strong Modelo Ideal

	section.listado__filtros
		.listado__filtros__container
			.listado__filtros__title
				.listado__filtros__icon
					span.icon-ICONOS-01
				.listado__filtros__text
					p Encuentra el camión de tus sueños:
			.listado__filtros__content
				.listado__filtros__box
					.listado__filtros__item
						.listado__filtros__item__text
							p Seleccione marca
						.listado__filtros__item__select
							select(name="")
								option(value="") Electrall
								option(value="") Electrall
								option(value="") Electrall
					.listado__filtros__item
						.listado__filtros__item__text
							p Selecione Modelo
						.listado__filtros__item__select
							select(name="")
								option(value="") Work Start
								option(value="") Durastart 
					.listado__filtros__item
						.listado__filtros__item__text
							p Seleccione año
						.listado__filtros__item__select
							select(name="")
								option(value="") 2013 al 2016
								option(value="") 2013 al 2017
								option(value="") 2013 al 2018
					.listado__filtros__item
						.listado__filtros__item__text
							p Rango de precio
						.listado__filtros__item__select
							select(name="")
								option(value="") U$S 120.000
								option(value="") U$S 110.000
					.listado__filtros__btn
						a(href='').btn-general.btn-orange Buscar

	section.listado__autos
		.listado__autos__container
			.listado__autos__content
				- for (var x = 0; x < 16; x++)
					.listado__autos__item
						.listado__autos__dcto__box
							.listado__autos__dcto
								p 20% DCTO.
						.componente-producto__img
							img(src=`.${STATIC_URL}img/producto-muestra.jpg`)
						.componente-producto__titulo
							h4 Work Start
						.componente-producto__lista
							.componente-producto__lista-box
								p ELECTRALL
								.componente-producto__lista-span
							.componente-producto__lista-box
								p WORK
								.componente-producto__lista-span
							.componente-producto__lista-box
								p 2013
						.componente-producto__parrafo
							p U$S 120.000
						.componente-producto__btn
							a.btn-general.btn-orange( href='') MÁS DETALLES
		.listado__autos__paginador__box
			.listado__autos__paginador
				.listado__autos__flecha__icon
					span.icon-arrow-left
				.listado__autos__lista
					ul.listado__autos__lista__number
						li 1
						li 2
						li 3
				.listado__autos__flecha__icon
					span.icon-arrow-right

	section.listado__renueva
		.listado__renueva__container
			a(href="#").listado__renuevo__img
				img(src=`${STATIC_URL}img/banner-renueva.jpg`)


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})