extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
block vars
	- var title = 'pasos'
//- Contenido
block content
	section.pasos__banner
		.banner__general__container
			.banner__general__line
			.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
				.banner__general__content
					.banner__general__text
						h2 Entrega tu 
							strong camión usado 

	section.pasos__proceso
		.pasos__title
			.pasos__title__box
				.pasos__title__img
					img(src=`${STATIC_URL}img/img-pasos-icon.png`)
				.pasos__title__title
					h3.titulo-h3.titulo-color-orange ES TAN FÁCIL
				.pasos__title__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi .
		.pasos__proceso__container
			.pasos__proceso__content
				.pasos__proceso__box
					.pasos__proceso__img
						.proceso__proceso__img__content
							img(src=`${STATIC_URL}img/pasos-img-2.png`)
					.pasos__proceso__active
						.pasos__proceso__circle
							.pasos__proceso__number
								span 1
					.pasos__proceso__title
						.pasos__proceso__title__content
							.pasos__proceso__text
								h3.titulo-h3.titulo-color-black Elige el camión International 0 Km
								p.parrafo-general.parrafo-grey.parrafo-align-left.componente-titulo-parrafo--margin-top Un asesor comercial especializado te brindará la información del abanico de unidades que tenemos y te asesorará a escoger la(s) unidad(es) que más se ajuste a tus necesidades. Al mismo tiempo le brindarás la información detallada de la(s) unidad(es) que quieres dejar en parte de pago.
				.pasos__proceso__box
					.pasos__proceso__img
						.proceso__proceso__img__content
							img(src=`${STATIC_URL}img/pasos-img-1.png`)
					.pasos__proceso__active
						.pasos__proceso__circle
							.pasos__proceso__number
								span 2
					.pasos__proceso__title
						.pasos__proceso__title__content
							.pasos__proceso__text
								h3.titulo-h3.titulo-color-black Nos dejas tu camión usado y te llevas el nuevo
								p.parrafo-general.parrafo-grey.parrafo-align-left.componente-titulo-parrafo--margin-top Una vez aceptado el precio y visto el pago de la diferencia, nos dejas tu(s) unidad(es) usada(s) y te llevas la(s) nueva(s) de la forma más simple posible. Nuestra área legal se encargará de hacer todos los trámites para que este proceso sea lo más rápido y simple para ti.
				.pasos__proceso__box
					.pasos__proceso__img
						.proceso__proceso__img__content
							img(src=`${STATIC_URL}img/pasos-img-3.png`)
					.pasos__proceso__active
						.pasos__proceso__circle
							.pasos__proceso__number
								span 3
					.pasos__proceso__title
						.pasos__proceso__title__content
							.pasos__proceso__text
								h3.titulo-h3.titulo-color-black Evaluamos y revisamos tu camión usado
								p.parrafo-general.parrafo-grey.parrafo-align-left.componente-titulo-parrafo--margin-top Nuestra área de camiones usados evaluará y revisará tu(s) unidad(es) y emitirá un valor justo al cual se recibirán en parte de pago

	section.pasos__info
		.pasos__info__container
			.pasos__info__line
			.pasos__info__content
				.pasos__info__title
					.pasos__info__text
						h3.titulo-h3.titulo-color-black Solicita más información #Siempreen marcha
					.pasos__info__img
						img(src=`${STATIC_URL}img/hc-image.png`)
				.pasos__info__box
					form.pasos__info__form
						ul
							li
								.pasos__form__input
									input.input-one.input--background-color-white(name='', type='text', placeholder='Nombre*:')
								.pasos__form__input
									input.input-one.input--background-color-white(name='', type='tel', placeholder='Teléfono*:')
							li
								.pasos__form__input
									input.input-one.input--background-color-white(name='', type='text', placeholder='RUC o DNI*:')
								.pasos__form__input
									input.input-one.input--background-color-white(name='', type='email', placeholder='Email*:')
							li
								.pasos__form__select
									.general__input.general__input--select.general__input__icon--right
										.general__input__inside
											.general__input__ico.general__input__ico__right.icon-arrow-down
											select(name="", class="general__input__input  general__input__input--background-color-white")
												option(value="0") Departamento*:
												option(value="1") Select1
												option(value="2") Select2
							li
								.pasos__form__textarea
									.general__input.general__input--textarea
										.general__input__inside
											textarea( class="validate[required] general__input__input",placeholder="Mensaje:")
					.pasos__form__text
						p (*) Campos obligatorios
					.pasos__form__checkbox
						.general__input.general__input--check--radio.general__input--checkbox
							.general__input__inside
								input(type="checkbox", id="check1")
								label(for="check1", class="general__input--check--radio--label")
									.general__input__inside__container
										.general__input__figure
										.general__input__text.parrafo-general Al completar este formulario, acepto estar informado de la forma, pautas y propósito del tratamiento de mis datos personales que se encuentran descritos en las Políticas de Privacidad de International S.A 
											a(href="") (Más información)
					.pasos__form__btn
						button.btn-general.btn-orange( href='') ENVIAR MENSAJE

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(()=>{
			// animation
			$('.pasos__proceso__box').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						$('.proceso__pasos__box').eq(0).addClass('active');
					}
				}, {
					offset:'60%'
				});
			});
		})