.beneficios
	padding-top: 60px
	padding-bottom: 100px

.beneficios__container
	max-width: 1180px
	margin: auto
	padding: 0px 20px

.beneficios__content
	padding-bottom: 60px

.beneficios__item
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 55px
	&:nth-child(odd)
		flex-direction: row
		.beneficios__title--color
			color: $c-3
		.beneficios__info
			padding-left: 4%
	&:nth-child(even)
		flex-direction: row-reverse
		.beneficios__title--color
			color: $c-4
		.beneficios__info
			padding-right: 4%

.beneficios__img
	width: 50%

.beneficios__info
	width: 46%

.beneficios__box
	max-width: 430px
	margin: auto

.beneficiones__text__info
	max-width: 938px
	padding: 0px 20px
	margin: auto

.beneficiones__text__info__content
	font-family: $t-3
	font-size: 16px
	color: $c-1
	text-align: center
	p 
		margin-bottom: 0

// animation
@media screen and (min-width: 1025px)
	.beneficios__item
		transform: scale(0.9)
		opacity: 0
		visibility: hidden
		transition: all 0.4s ease-in-out
		&.active
			transform: scale(1)
			opacity: 1
			visibility: visible

@media screen and (max-width: 990px)
	.beneficiones__text__info__content
		font-size: 14px

@media screen and (max-width: 690px)
	.beneficios__img
		width: 80%
		margin: auto

	.beneficios__info
		width: 80%
		margin: auto

	.beneficios__box
		max-width: initial
		padding-top: 30px

	.beneficios__item
		&:nth-child(odd)
			.beneficios__info
				padding-left: 0
		&:nth-child(even)
			.beneficios__info
				padding-right: 0

@media screen and (max-width: 480px)
	.beneficios__img
		width: 100%

	.beneficios__info
		width: 100%

	.beneficiones__text__info__content
		font-size: 13px