.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 750px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100

.contacto__formulario
	padding-top: 20px
	padding-bottom: 50px

.contacto__formulario__container
	max-width: 1175px
	margin: auto
	padding: 0px 20px

.contacto__formulario__text
	max-width: 640px
	margin: auto

.contacto__formulario__text__box
	font-family: $t-3
	font-size: 16px
	color: $c-1
	text-align: center
	padding-bottom: 70px
	p
		margin-bottom: 0

.contacto__formulario__content
	max-width: 1060px
	margin: auto
	padding-bottom: 50px

.contacto__form
	padding-bottom: 15px
	li
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center

.contacto__form__input
	width: 47%
	padding: 10px 8px

.contacto__form__select
	width: 98%
	padding: 10px 8px
	box-sizing: border-box

.contacto__form__textarea
	width: 98%
	padding: 10px 8px
	box-sizing: border-box

.contacto__form__text
	font-family: $t-3
	font-size: 13px
	color: $c-2
	padding: 0px 10px 36px 10px
	p
		margin-bottom: 0

.contacto__form__checkbox
	padding: 0px 10px 50px 10px
	.general__input__inside__container
		align-items: flex-start
	.general__input__text
		width: 95%
		a
			color: $c-2
			text-decoration: underline

.contacto__form__btn
	padding: 0px 10px
	text-align: right

.contacto__info
	border-top: 1px solid $c-1

.contacto__info__content
	max-width: 950px
	margin: auto
	padding: 65px 0px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.contacto__info__box
	padding: 0 2%

.contacto__info__text
	font-family: $t-2
	font-size: 20px
	color: $c-1
	p
		margin-bottom: 0

.contacto__info__number

	font-family: $t-2
	font-size: 27px
	color: $c-1
	p
		margin-bottom: 0
		display: inline-block
		padding-left: 10px

.contacto__info__email
	font-family: $t-2
	font-size: 21px
	color: $c-1
	p
		margin-bottom: 0
		display: inline-block
		padding-left: 10px
	span
		font-size: 28px

.contacto__map__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.contacto__map__content
	width: 45%
	background-color: $c-0

.contacto__map__box
	max-width: 510px
	margin: auto
	margin-right: 0
	padding: 0px 20px

.contacto__map__box__container
	padding: 90px 0 0 0

.contacto__map__title
	padding: 0 50px 45px 50px
	h2
		font-family: $t-1
		font-size: 36px
		color: $c-3
		margin-bottom: 0

.contacto__map__map
	width: 55%

.contacto__map__item
	padding: 30px 0px
	border-top: 3px solid #C8CDD0
	&:nth-child(1)
		border: none

.contacto__map__item__box
	padding: 0px 10px

.contacto__map__item__title
	padding-bottom: 22px
	h3
		font-family: $t-2
		font-size: 19px
		color: $c-1
		margin-bottom: 0
		text-transform: uppercase

.contacto__map__sedes
	height: 542px
	overflow: auto
	padding: 0px 50px

.contacto__map__item__direction
	font-family: $t-3
	font-size: 15px
	color: $c-1
	padding-bottom: 22px
	p
		margin-bottom: 0

.contacto__map__item__link
	font-family: $t-3
	font-size: 15px
	color: $c-2
	position: relative
	a
		color: $c-2
		text-decoration: none
		position: relative
		padding-bottom: 5px
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 1px
			background: $c-2
			left: 0
			bottom: 0

@media screen and (max-width: 1025px)
	.contacto__map__map
		width: 50%

	.contacto__map__content
		width: 50%

@media screen and (max-width: 980px)
	.contacto__info__box
		padding: 12px 45px
	.contacto__map__map
		width: 100%

	.contacto__map__content
		width: 100%

	.mapcontacto
		.cnt-map
			.box-map
				height: 380px

	.contacto__map__box
		max-width: 540px
		margin-right: auto

	.contacto__map__box__container
		padding: 40px 0 40px 0

	.contacto__map__sedes
		height: 400px

@media screen and (max-width: 768px)
	.contacto__formulario__text__box
		font-size: 15px

@media screen and (max-width: 580px)
	.contacto__formulario__text__box
		font-size: 14px
		padding-bottom: 40px

	.contacto__form__input
		width: 100%

	.contacto__info__text
		font-size: 18px

	.contacto__info__email
		font-size: 19px

	.contacto__info__number
		font-size: 25px

	.contacto__info__content
		display: block

	.contacto__info__box
		text-align: center
		padding: 12px 0px

	.contacto__info__content
		padding: 40px 0px

	.contacto__formulario
		padding-bottom: 20px

	.contacto__map__title
		h2
			font-size: 30px

	.contacto__map__item__title
		h3
			font-size: 16px

	.contacto__map__item__direction
		font-size: 14px

	.contacto__map__item__link
		font-size: 14px

	.contacto__map__item__box
		padding: 0

@media screen and (max-width: 390px)
	.contacto__form__input
		padding: 8px 0

	.contacto__form__select
		padding: 8px 0

	.contacto__form__textarea
		padding: 8px 0

	.contacto__form__text
		padding: 0 0 36px 0

	.contacto__form__checkbox
		padding: 0 0 50px 0

	.contacto__form__btn
		padding: 0 0
		text-align: center

	.contacto__info__email
		font-size: 14px
		span
			font-size: 22px

	.contacto__info__number
		font-size: 21px

	.contacto__map__title
		padding: 0 0 30px 0

	.contacto__map__sedes
		padding: 0 40px 0 0

	.contacto__map__title
		h2
			font-size: 28px