.detalle-producto__content
	background-color: $blanco
	padding-bottom: 90px
	padding-top: 45px
	width: 100%
	max-width: 1920px
	height: auto
	margin: 0 auto
	box-sizing: border-box
.detalle-producto__content-button
	width: 100%
	max-width: 1192px
	height: auto
	margin: 0 auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	padding-bottom: 50px
	border-bottom: solid 1px #bec1c4
.detalle-producto__box-button
	width: auto
	height: auto
.detalle-producto__content-data
	width: 100%
	height: auto
	max-width: 1192px
	margin: 0 auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	padding-bottom: 50px
	border-bottom: solid 1px #bec1c4
.detalle-producto__data-box
	height: auto
	width: 50%
.detalle-producto__box-right
	padding-top: 80px
	padding-left: 80px
.detalle-producto__box-right--datos-content
	position: relative
	padding-bottom: 30px
	&:before
		content: ""
		position: absolute
		bottom: 0
		border-top: solid 1px #bec1c4
		width: 100%
		max-width: 444px
		left: -30px
.detalle-producto__box-right--span
	font-family: $t-1
	font-size: 17px
	color: $c-3
.detalle-producto__box-right--datos
	h2
		position: relative
		padding-top: 20px
		padding-bottom: 20px
		&:before
			position: absolute
			content: ""
			height: 80px
			width: 2px
			top: 0
			left: -30px
			background-color: $c-3
.detalle-producto__box-right--h3
	padding-bottom: 40px
.detalle-producto__box-right--ul
	font-family: $t-3
	font-size: 16px
	padding-top: 40px
	margin-left: -19px
	li
		display: inline-block
		strong
			display: block
			font-family: $t-2
			font-size: 20px
			font-weight: normal
.detalle-producto__box-right--li-border
	border-right: solid 1px #a0a1a2
.detalle-producto__box-right--li-padding
	padding-right: 30px
	padding-left: 20px
// .detalle-producto__box-right--li-padding-l
// 	padding-left: 0
.detalle-producto__box-right--buttons
	padding-top: 50px
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
	max-width: 400px
.detalle-producto__box-right--button-a
	color: $c-4
	transition-duration: 0.3s
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: center
	.detalle-producto__box-right--button-icon
		font-size: 22px
.detalle-producto__box-right--button-icon
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	border: solid 1px $c-4
	width: 55px
	height: 58px
	padding-left: 5px
	margin-left: 20px
	margin-top: -4px
	ico
		transition-duration: 0.3s
.detalle-producto__box-right--button-a:hover
	@media screen and (min-width: 1025px)
		.detalle-producto__box-right--button-icon
			ico
				font-size: 24px
.detalle-producto__box-right--button-a-orange
	margin-top: 15px
.detalle-producto__content-producto
	text-align: center
	padding-top: 69px
.detalle-producto__tab-menu
	height: 50px
	padding-top: 50px
.detalle-producto__tab-content
	width: 100%
	max-width: 1192px
	height: auto
	margin: 0 auto
.detalle-producto__tab-boton
	font-family: $t-2
	font-size: 16px
	color: #bec1c4
	border-bottom: solid 3px #bec1c4
	padding-left: 40px
	padding-right: 40px
	padding-top: 20px
	padding-bottom: 20px
	&.active
		color: $c-3
		border-bottom: solid 3px $c-3
.tabcontent
	height: auto
	width: 100%
	box-sizing: border-box
.detalle-producto__box-especificaciones-content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	// justify-content: center
	justify-content: flex-start
	padding-bottom: 30px
	padding-top: 20px
	padding-left: 120px
	box-sizing: border-box
.detalle-producto__box-especificaciones
	text-align: left
	max-width: 27%
	width: 22%
	margin-top: 40px
	margin-right: 30px
	p
		strong
			display: block
.detalle-producto__container-form
	background-color: $c-0
	position: relative
.detalle-producto__line-form
	display: block
	width: 100%
	height: 60px
	background: $blanco
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	z-index: 2
	&:before
		content: ""
		display: block
		width: 106%
		height: 300%
		background: $c-0
		border-radius: 50%
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
.detalle-producto__content-form
	max-width: 1192px
	margin: auto
	padding: 100px 20px 65px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	position: relative
.detalle-producto__content-form-box
	width: 100%
.detalle-producto__h3-form
	padding: 15px 15px 50px 15px
	box-sizing: border-box
.detalle-producto__form-input
	width: 100%
	padding: 10px 10px
	box-sizing: border-box
.destalle-producto__form-50porcent
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: space-between
.detalle-producto__form-textarea
	width: 100%
	padding: 10px 10px
	box-sizing: border-box
.detalle-producto__form-text
	font-family: $t-3
	font-size: 13px
	color: $c-2
	padding: 40px 15px 38px 15px
	box-sizing: border-box
	p
		margin-bottom: 0
.detalle-producto__form-checkbox
	padding: 0px 10px 60px 10px
	.general__input__inside__container
		align-items: flex-start
	.general__input__text
		width: 95%
		a
			color: $c-2
			text-decoration: underline
.detalle-producto__form-btn
	padding: 0px 10px
	text-align: right
.detalle-producto__parrafo-tabcontent2
	max-width: 745px
	height: auto
	margin: 0 auto
	padding-top: 45px
.detalle-producto__logos-content-tabcontent2
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	margin: 0 auto
	width: 90%
.detalle-producto__logo-tabcontent2
	width: 157px
	height: auto
	padding-top: 25px
	padding-bottom: 25px
// carrosel
// tab carrousel
// class for slick slider
.tab__carrousel__wrap
	width: 100%
	.slick-slider
		margin-bottom: 0
		padding: 0 30px
		box-sizing: border-box
	.tab__carrousel__items__wrap
		padding: 0
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		background: transparent
		border-radius: 100%
		padding: 0
		overflow: hidden
		font-size: 0
		transition: all .25s linear
		&:before
			font-family: icomoon
			font-size: 30px
			color: #dee1e4
			line-height: 30px 
			text-align: center
			transition: all .25s linear
		&:hover
			&:before
				color: #242323
	.slick-prev
		left: 0
		&:before
			display: block
			content: "\e607"
			// transform: rotate(-90deg)
	.slick-next
		right: 0
		&:before
			display: block
			content: "\e606"
			// transform: rotate(90deg)

	
.tab__carrousel__items__wrap
	position: relative	
	overflow: hidden
	margin-top: 25px	
	padding: 0 60px 
	box-sizing: border-box	
	.slick-list
		overflow: hidden	
		
.tab__carrousel__list__items
	font-size: 0	
	
.tab__carrousel__items__item
	display: inline-block	
	cursor: pointer
	box-sizing: border-box
	margin: 0 1.5%
	box-sizing: border-box
	width: 22%	
	img
		display: block
		height: auto
		width: 100%
		opacity: 0.5
	&.active
		img
			opacity: 1
		// .tab__carrousel__items__item-img
		// 	border: 1px solid $c-1

.tab__carrousel__items__item-img
	box-sizing: border-box	
	transition: all .25s linear
	
// class image big -tab
.tab__carrousel__image__big__inside
	position: relative	
	
.tab__carrousel__arrow__personalized_wrap
	position: absolute	
	top: 0	
	left: 0	
	width: 100%	
	height: 100%	

.tab__carrousel__arrow__personalized_prev, .tab__carrousel__arrow__personalized_next
	position: absolute
	top: 50%
	margin-top: -20px
	width: 40px
	height: 40px
	line-height: 40px
	text-align: center
	background: transparent
	border: 1px solid red
	border-radius: 100%
	padding: 0
	overflow: hidden
	font-size: 0
	transition: all .25s linear
	z-index: 100
	cursor: pointer
	&:before
		font-family: icomoon
		font-size: 25px
		color: c-8
		line-height: 40px 
		text-align: center
		transition: all .25s linear
	&:hover 
		background: red
		border: 1px solid red
		&:before 
			color: blue
				
.tab__carrousel__arrow__personalized_prev
	left: 10px
	&:before
		content: "\e607"
.tab__carrousel__arrow__personalized_next
	right: 10px
	&:before
		content: "\e606"

	
.tab__carrousel__image__big__wrap
	width: 100%
	position: relative	

.tab__carrousel__image__big
	width: 100%
	height: auto
	position: absolute
	top: 0
	left: 0
	z-index: -1
	visibility: hidden
	box-sizing: border-box
	img
		display: block
		width: 100%
		height: auto
	&.active
		position: relative
		z-index: 1
		visibility: visible
		
//tab tab slider 
.tab__carrousel__items__container
	position: relative
	
.tab__carrosuel__item
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	
.tab__carrosuel__item.active 
	position: relative
	opacity: 1
	visibility: visible
	
.tab__carrousel__arrow__personalized_wrap
	display: none
	&.active 
		display: block
		
.tab__carrousel--active
	.tab__carrousel__items__item
		margin: 0 10px
@media screen and (max-width: 1250px)
	.detalle-producto__content
		width: 90%
	.detalle-producto__line-form
		&:before
			height: 200%
	.detalle-producto__box-especificaciones-content
		padding-left: 10%
	.detalle-producto__box-especificaciones
		width: 33%
@media screen and (max-width: 1025px)
	.detalle-producto__content-data
		flex-direction: column
	.detalle-producto__data-box
		width: 100%
		margin: 0 auto
	.tab__carrousel__wrap
		width: 70%
		margin: 0 auto
	.detalle-producto__box-right--datos-content
		display: flex
		flex-direction: row
		flex-wrap: wrap
	.detalle-producto__box-right--datos
		display: inline-block
	.detalle-producto__box-right--datos-padding-left
		padding-left: 40px
		margin-top: 5px
	.detalle-producto__box-right--datos-content
		&:before
			max-width: 100%
	.detalle-producto__box-right--datos-content2
		margin: 0 auto
		text-align: center
	.detalle-producto__box-right--buttons
		max-width: 100%
		margin: 0 auto
		padding-right: 60px
		padding-top: 30px
	.detalle-producto__box-right
		padding-top: 50px
		padding-left: 50px
	.detalle-producto__content
		padding-bottom: 20px
		padding-top: 30px
	.detalle-producto__parrafo-tabcontent2
		padding-top: 30px
		padding-bottom: 5px
	.detalle-producto__logo-tabcontent2
		padding-left: 20px
		padding-right: 20px
		padding-top: 0
		padding-bottom: 0
	.detalle-producto__logos-content-tabcontent2
		justify-content: center
		padding-top: 10px
		padding-bottom: 10px
@media screen and (max-width: 768px)
	.detalle-producto__box-right--datos-padding-left
		padding-left: 0
		margin-top: 0
	.detalle-producto__box-right--datos-content
		flex-direction: column
	.detalle-producto__logos-content-tabcontent2
		width: 100%
	.detalle-producto__box-right--ul
		margin-left: -5%
@media screen and (max-width: 681px)
	.detalle-producto__logo-tabcontent2
		padding-left: 30px
		padding-right: 30px
	.destalle-producto__form-50porcent
		flex-direction: column
	.detalle-producto__line-form
		&:before
			width: 200%
	.detalle-producto__content
		padding-bottom: 50px
	.detalle-producto__h3-form
		padding: 0 15px 20px 15px
	.tab__carrousel__wrap
		width: 90%
	.detalle-producto__tab-menu
		height: auto
		display: flex
		flex-direction: column
		padding-top: 20px
	.detalle-producto__tab-boton
		width: 50%
	.detalle-producto__parrafo-tabcontent2
		padding-top: 50px
@media screen and (max-width: 576px)
	.detalle-producto__box-right--buttons
		padding-right: 0px
		flex-direction: column
		text-align: center
		align-items: center
	.detalle-producto__box-right--button-a-orange
		margin-top: 45px
	.detalle-producto__box-right
		padding-left: 0
	.detalle-producto__box-right--datos-content
		&:before
			left: 0
	.detalle-producto__box-right--datos
		padding-left: 40px
	.detalle-producto__logos-content-tabcontent2
		width: 100%
	.detalle-producto__form-btn
		text-align: center
	.detalle-producto__logos-content-tabcontent2
		justify-content: center
	.detalle-producto__box-right--ul
		li
			display: block
	.detalle-producto__box-right--li-border
		border-right: initial
		border-bottom: solid 1px #a0a1a2
		width: 50%
	.detalle-producto__box-right--li-padding
		padding-right: 0
		padding-left: 0
		padding-top: 20px
	.detalle-producto__box-right--ul
		padding-top: 10px
	.detalle-producto__content-button
		flex-direction: column
		text-align: center
	.detalle-producto__box-button
		margin-top: 34px
	.detalle-producto__content
		padding-top: 5px
	.detalle-producto__box-especificaciones-content
		flex-direction: column
	.detalle-producto__box-especificaciones
		max-width: 100%
		text-align: center
		width: auto
	.detalle-producto__box-right--ul
		margin-left: 0