+keyframes(efecto_pulse_play)
	0%
		transform: translate3d(-50%,-50%,0)scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%,-50%,0)scale(1.7)
		opacity: 0
.drawing-container
	width: 100%
	position: relative
	height: 650px
.drawing-container__move
	position: absolute
	top: 0
	bottom: 0
	left: 0
	margin: auto
	cursor: pointer
	width: 100%
	height: 100%
	background: none
	border: none !important
	overflow: hidden
	pointer-events: none
	.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min
		height: 100%
		overflow: hidden
		pointer-events: none
		// background-image: url("../img/b.png")
		// +backgroundsize()
	.ui-slider-handle.ui-corner-all.ui-state-default
		height: 50px
		background: $blanco
		border-radius: 50%
		width: 50px
		top: 75%
		margin-left: -25px
		cursor: pointer
		pointer-events: initial
		&:before, &:after
			content: ""
			display: block		
			width: 100%
			height: 100%
			border: 1px solid $blanco
			box-sizing: border-box
			border-radius: 50%
			position: absolute
			top: 50%
			left: 50%
			transform: translateX(-50%) translateY(-50%)
			animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0.4s infinite		
		&:after
			animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0s infinite
.drawing-container__item
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
.drawing-container__move--img-left
	background-size: cover
	background-position: center center

.hr__info
	margin: 0

.hr__title
	margin-bottom: 20px

.hr__wrap
	max-width: 300px
	width: 100%
	box-sizing: border-box
	position: relative
	padding: 10px
	margin-left: auto
	margin-right: auto

.hr__borde
	display: block
	width: 1px
	height: 100%
	background: $blanco
	position: absolute
	top: 0

.hr__borde--left
	left: 0
	&:before, &:after
		content: ""
		display: block
		width: 16px
		height: 1px
		background: $blanco
		position: absolute
		left: 0
	&:before
		top: 0
	&:after
		bottom: 0

.hr__borde--right
	right: 0
	&:before, &:after
		content: ""
		display: block
		width: 16px
		height: 1px
		background: $blanco
		position: absolute
		right: 0
	&:before
		top: 0
	&:after
		bottom: 0

.hr__text
	line-height: 1.4
	color: $blanco
	font-family: $t-4
	font-size: 22px
	text-align: center
	strong
		font-family: $t-5
		font-weight: normal
	p
		margin: 0

.hr-figuras
	position: relative
	width: 205px
	margin-left: -75px
	margin-top: 10px

.hr__circle
	display: block
	width: 58px
	height: 58px
	background: $blanco
	border-radius: 50%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto

.hr__arrows
	display: block	
	font-size: 0
	position: relative
	padding-left: 21px
	padding-right: 21px
	margin: 0

.hr__arrow__text
	display: inline-block
	height: 30px
	line-height: 30px
	color: $blanco
	background: $c-3
	font-family: $t-1
	font-size: 12px
	padding: 0 15px

.hr__arrow
	display: block
	width: 21px
	height: 30px
	position: absolute
	top: 0

.hr__arrow--left
	left: 0

.hr__arrow--right
	right: 0
	transform: rotate(180deg)

.hr__arrow__triangle--1
	display: block
	width: 0
	height: 0
	border-style: solid
	border-width: 15px 21px 15px 0
	border-color: transparent $c-3 transparent transparent

.hr__arrow__triangle--2
	display: block
	width: 0
	height: 0
	border-style: solid
	border-width: 0 15px 3px 15px
	border-color: transparent transparent $c-3 transparent
	transform: rotate(-35deg)
	position: absolute
	top: 3px
	left: -2px

.hr__arrow__triangle--3
	display: block
	width: 0
	height: 0
	border-style: solid
	border-width: 0 15px 8px 15px
	border-color: transparent transparent $c-3 transparent
	position: absolute
	top: -7px
	right: -18px
	transform: rotate(134deg)

.hr__arrow__triangle--4
	display: block
	width: 0
	height: 0
	border-style: solid
	border-width: 0 15px 3px 15px
	border-color: transparent transparent $c-3 transparent
	transform: rotate(-145deg)
	position: absolute
	bottom: 3px
	left: -2px

.hr__arrow__triangle--5
	display: block
	width: 0
	height: 0
	border-style: solid
	border-width: 0 15px 8px 15px
	border-color: transparent transparent $c-3 transparent
	position: absolute
	bottom: -6px
	right: -18px
	transform: rotate(43deg)


.marcas__drawing--slider
	figure
		height: 400px
		+backgroundsize()

@media screen and (max-width: 1024px)
	.hr__title
		margin-bottom: 10px
		text-align: center
		h1
			font-size: 50px