.home__beneficios
	position: relative
	padding-bottom: 40px

.home__beneficios__container
	width: 100%
	height: 640px
	position: relative
	&:after
		content: ''
		width: 100%
		height: 130px
		position: absolute
		bottom: 0
		left: 0
		background-image: url(../img/line-2-banner-home.png)
		background-size: cover
		background-repeat: no-repeat
		background-position: center

.home__banner__line--2
	display: block
	width: 100%
	height: 65px
	background: transparent
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	z-index: 2
	&:before
		content: ""
		display: block
		width: 110%
		height: 300%
		background: $blanco
		border-radius: 50%
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)

.home__beneficios__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center left
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(to right, rgba(36,35,35,0) 0%, rgba(36,35,35,0.7) 61%, rgba(36,35,35,0.08) 100%)

.home__beneficios__content
	max-width: 1200px
	margin: auto
	padding: 0px 20px
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.home__beneficios__box
	width: 38%
	margin: auto
	margin-right: 0

.home__beneficios__title
	padding-bottom: 50px
	h3
		font-family: $t-1
		font-size: 38px
		color: $c-3
		margin-bottom: 0

.home__beneficios__text
	font-family: $t-3
	font-size: 18px
	color: $blanco
	padding-bottom: 55px
	p
		margin-bottom: 0

.home__beneficios__btn
	text-align: left

@media screen and (max-width: 990px)
	.home__beneficios__box
		width: 50%

	.home__beneficios__container
		&:after
			height: 65px

	.home__banner__line--2
		height: 40px

	.home__beneficios__title
		h3
			font-size: 32px

	.home__beneficios__text
		font-size: 16px

@media screen and (max-width: 690px)
	.home__beneficios__title
		h3
			font-size: 30px

	.home__beneficios__text
		font-size: 15px

	.home__beneficios__background
		&:before
			background: #242323
			opacity: 0.7

	.home__beneficios__box
		width: 75%
		margin: auto

	.home__beneficios__container
		height: 520px

	.home__beneficios__title,
	.home__beneficios__text,
	.home__beneficios__btn
		text-align: center

@media screen and (max-width: 480px)
	.home__beneficios__box
		width: 100%

	.home__beneficios__title
		h3
			font-size: 26px
