.home__slider
	width: 100%
	height: 731px
	overflow: hidden
	background-size: cover
	background-repeat: no-repeat
	background-position: bottom center
	position: relative
	box-sizing: border-box
	&:before
		content: ""
		display: block
		width: 100%
		height: 100%
		background: linear-gradient(to top, rgba(39,39,38,0) 0%, rgba(39,39,38,0.8) 100%)
		position: absolute
		top: 0
		left: 0
		z-index: 2
	.bx-wrapper .bx-viewport
		z-index: 2
	.bx-wrapper .bx-controls-direction
		max-width: 1200px
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
	.bx-wrapper .bx-controls-direction a
		display: block
		width: 41px
		height: 41px
		background: none
		transition: all .25s ease
		&:before
			display: block
			content: "\e902"
			width: 41px
			height: 41px
			line-height: 37px
			color: $blanco
			font-family: $icomoon
			font-size: 18px
			text-align: center
			text-indent: 0px
			border: 2px solid $blanco
			border-radius: 50%
			box-sizing: border-box
		@media screen and (min-width: 1025px)
			opacity: .7
			&:hover
				opacity: 1
	.bx-wrapper .bx-controls-direction .bx-prev
		&:before
			transform: rotate(180deg)
	.bx-wrapper .bx-controls-direction .bx-prev
		left: 0
	.bx-wrapper .bx-controls-direction .bx-next
		right: 0

.home__slider__main
	position: relative
	z-index: 2

.home__slider__item
	height: 731px
	&.active
		.home__slider__info
			opacity: 1
			visibility: visible
			transform: translateY(0)

.home__slider__container
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 1145px
	width: 100%
	height: 100%
	box-sizing: border-box
	padding-left: 20px
	padding-right: 20px
	margin: auto

.home__slider__wrap
	position: relative
	padding-bottom: 100px

.home__slider__info
	width: 370px
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	transform: translateY(30px)
	transition: all .5s ease-in-out .5s
	padding-top: 45px
	margin: 0

.home__slider__tilte
	margin-bottom: 25px
	h1
		line-height: 56px
		color: $blanco
		font-family: $t-1
		font-weight: normal
		font-size: 65px
		margin-bottom: 0

.home__slider__button
	display: flex

.home__slider__link
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin: 0
	@media screen and (min-width: 1025px)
		&:hover
			.home__slider__link__icon
				animation-name: hvr-wobble-horizontal
				animation-duration: 1s
				animation-timing-function: ease-in-out
				animation-iteration-count: 1

.home__slider__link__text,
.home__slider__link__icon
	display: block
	line-height: 1
	color: $blanco
	margin: 0

.home__slider__link__text
	font-family: $t-2
	font-size: 14px
	margin-right: 10px

.home__slider__link__icon
	font-size: 14px

.home__slider__img
	max-width: 850px
	width: 100%
	margin: 0
	margin-left: auto
	margin-right: auto
	img
		display: block
		width: 100%
		height: auto

// +++ animation button +++
+keyframes(hvr-wobble-horizontal)
	16.65%
		transform: translateX(8px)
	33.3%
		transform: translateX(-6px)
	49.95%
		transform: translateX(4px)
	66.6%
		transform: translateX(-2px)
	83.25%
		transform: translateX(1px)
	100% 
		transform: translateX(0)
// <<< end >>>

// responsive
@media screen and (max-width: 1200px)
	.home__slider
		.bx-wrapper .bx-controls-direction .bx-prev
			left: 10px
		.bx-wrapper .bx-controls-direction .bx-next
			right: 10px

	.home__slider,
	.home__slider__item
		height: 600px

	.home__slider__container
		padding-left: 70px
		padding-right: 70px

	.home__slider__wrap
		display: flex
		flex-direction: column
		justify-content: flex-end
		height: 100%
		padding-bottom: 70px

	.home__slider__info
		top: 22%
		padding-top: 0

	.home__slider__tilte
		h1
			line-height: 47px
			font-size: 50px

	.home__slider__img
		max-width: none
		width: 75%

@media screen and (max-width: 960px)
	.home__slider
		.bx-wrapper .bx-controls-direction a
			width: 35px
			height: 35px
			&:before
				width: 35px
				height: 35px
				line-height: 31px
				font-size: 14px

	.home__slider__tilte
		margin-bottom: 20px
		h1
			line-height: 34px
			font-size: 36px

	.home__slider__info
		width: 280px

	.home__slider__img
		width: 95%

	.home__slider__link__text
		font-size: 13px

	.home__slider__link__icon
		font-size: 11px

@media screen and (max-width: 640px)
	.home__slider,
	.home__slider__item
		height: 500px

	.home__slider__wrap
		padding-bottom: 30px

	.home__slider__info
		position: static
		margin-left: auto
		margin-right: auto

	.home__slider__img
		width: 90%

	.home__slider__tilte
		text-align: center

	.home__slider__button
		justify-content: center

@media screen and (max-width: 480px)
	.home__slider
		.bx-wrapper .bx-controls-direction a
			display: none

	.home__slider__container
		padding-left: 15px
		padding-right: 15px

	.home__slider__info
		width: 100%

	.home__slider__img
		width: 100%
		margin-top: 15px