.home__filtros
	position: relative
	padding-bottom: 52px

// +++ mascara +++
.home__lines
	position: relative

.home__mascaras
	width: 100%
	position: absolute
	top: -28px
	left: 0
	z-index: 2

.home__triangle
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 100%
	height: 28px
	overflow: hidden

.home__triangle__left,
.home__triangle__right
	width: 50%
	height: 100%
	position: relative

.home__triangle__left
	&:before
		content: ""
		width: 0
		height: 0
		border-style: solid
		border-width: 28px 0 0 960px
		border-color: transparent transparent transparent #e3e6e9
		position: absolute
		right: 0
		bottom: 0

.home__triangle__right
	&:before
		content: ""
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 28px 960px
		border-color: transparent transparent #e3e6e9 transparent
		position: absolute
		left: 0
		bottom: 0

.home__rectangular
	display: block
	width: 100%
	height: 28px
	background: #e3e6e9

.home__circle
	display: block
	width: 100%	
	height: 60px
	overflow: hidden
	background: #e3e6e9
	position: relative
	&:before
		content: ""
		display: block
		width: 102%
		height: 250%
		background: $blanco
		border-radius: 50%
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
// <<< end >>>

.home__filtros__container
	max-width: 1200px
	position: relative
	z-index: 3
	margin: auto
	padding: 0px 20px
	margin-top: -95px
	z-index: 2

.home__filtros__autos__title
	text-align: center
	padding-bottom: 70px

.home__filtros__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.home__autos__item
	width: 18%
	height: auto
	text-align: center
	margin: 3% 3.2%
	.btn-general
		padding: 10px 35px
	.componente-producto__btn
		opacity: 1
		z-index: 2
	@media screen and (min-width: 1024px)
		.componente-producto__btn
			opacity: 0
		&:hover
			.componente-producto__btn
				margin-top: 29px
				opacity: 1
				position: relative
				z-index: 1

.home__autos__dcto__box
	background: $c-2
	border-radius: 20px
	width: 110px
	margin: auto
	margin-right: 0

.home__autos__dcto
	padding: 8px 14px
	font-family: $t-2
	font-size: 13px
	color: $blanco
	p
		margin-bottom: 0

.home__filtros__autos__btn
	text-align: center
	padding-top: 60px

.home__filtros__content
	background: $blanco
	border-radius: 12px
	margin-bottom: 110px
	box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2)

.home__filtros__content__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.home__filtros__content__title
	font-family: $t-2
	font-size: 17px
	color: $c-3
	padding-left: 30px
	padding-bottom: 12px
	p
		margin-bottom: 0

.home__filtros__content__items
	padding: 20px 10px

.home__filtros__item
	padding: 0px 25px
	border-left: 1px solid #a0a1a2
	margin: auto
	&:nth-child(1)
		border: none

.home__filtros__item__select
	width: 100px
	position: relative
	select
		width: 100%
		height: 30px
		border: none
		background: $blanco
		font-family: $t-3
		font-size: 19px
		color: $c-2
		padding: 0
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none
		option
			background: $blanco
	&:before
		content: '\e608'
		position: absolute
		font-family: $icomoon
		font-size: 20px
		color: $c-2
		right: 0
		top: 0
		z-index: 2
		line-height: 1.5
		pointer-events: none

.home__filtros__btn
	padding: 10px 25px
	margin: auto

@media screen and (max-width: 991px)
	.home__autos__item
		margin: 30px 20px

	.home__filtros__item
		width: 18%

	.home__filtros__btn
		margin-top: 30px

	.home__filtros__container
		margin-top: 20px

@media screen and (max-width: 790px)
	.home__filtros__item
		width: 15%

@media screen and (max-width: 640px)
	.home__filtros__item
		width: 33.333%
		border: none
		margin-bottom: 15px

	.home__filtros__item__select
		select
			font-size: 17px


@media screen and (max-width: 480px)
	.home__filtros__box
		width: 80%
		margin: auto

@media screen and (max-width: 390px)
	.home__filtros__item
		width: 100%

	.home__filtros__item__select
		width: 100%
	.home__filtros__content__title
		padding-left: 20px

@media screen and (max-width: 340px)
	.home__filtros__box
		width: 100%