.listado__filtros
	padding-top: 55px
	padding-bottom: 60px

.listado__filtros__container
	max-width: 1260px
	margin: auto
	padding: 0px 20px

.listado__filtros__title
	padding-bottom: 38px
	padding-left: 35px

.listado__filtros__icon
	color: $c-1
	font-size: 30px
	display: inline-block

.listado__filtros__text
	padding-left: 20px
	font-family: $t-2
	font-size: 23px
	color: $c-1
	display: inline-block
	p
		margin-bottom: 0

.listado__filtros__content
	background: $c-0
	border-radius: 5px

.listado__filtros__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding: 25px 10px

.listado__filtros__item
	padding: 10px 25px
	border-left: 1px solid #a0a1a2
	margin: auto
	&:nth-child(1)
		border: none

.listado__filtros__item__text
	font-family: $t-3
	font-size: 14px
	color: $c-1
	text-transform: uppercase
	padding-bottom: 6px
	p
		margin-bottom: 0

.listado__filtros__item__select
	width: 205px
	position: relative
	select
		width: 100%
		height: 30px
		border: none
		background: $c-0
		font-family: $t-2
		font-size: 19px
		color: $c-2
		padding: 0
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		position: relative
		&::-ms-expand
			display: none
		option
			background: $blanco
	&:before
		content: '\e608'
		position: absolute
		font-family: $icomoon
		font-size: 20px
		color: $c-2
		right: 0
		top: 0
		z-index: 2
		line-height: 1.5
		pointer-events: none

.listado__filtros__btn
	padding: 10px 25px
	margin: auto

.listado__autos
	padding-bottom: 100px

.listado__autos__container
	max-width: 1220px
	margin: auto
	padding: 0px 20px

.listado__autos__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.listado__autos__item
	width: 18%
	height: auto
	text-align: center
	margin: 3% 3.2%
	.btn-general
		padding: 10px 35px
	.componente-producto__btn
		opacity: 1
		z-index: 2
	@media screen and (min-width: 1024px)
		.componente-producto__btn
			opacity: 0
		&:hover
			.componente-producto__btn
				margin-top: 29px
				opacity: 1
				position: relative
				z-index: 1
		
.listado__autos__paginador__box
	padding-top: 70px

.listado__autos__paginador
	max-width: 200px
	padding: 0px 20px
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.listado__autos__lista
	padding: 0px 18px

.listado__autos__lista__number
	li
		display: inline-block
		font-family: $t-3
		color: $c-2
		font-size: 20px
		padding: 0px 6px
		margin: 0px 3px
		cursor: pointer
		transition: all .2s ease-in-out
		position: relative
		&:hover:before
			content: ''
			position: absolute
			width: 100%
			height: 1px
			background: $c-3
			left: 0
			bottom: 0
			transition: all .2s ease-in-out
		&.active
			color: $c-3
		&:hover
			color: $c-3
			font-family: $t-1
			transition: all .2s ease-in-out

.listado__autos__flecha__icon
	color: $c-2
	font-size: 20px
	cursor: pointer

.listado__renueva
	padding-bottom: 85px

.listado__renueva__container
	max-width: 1200px
	margin: auto
	padding: 0px 20px

.listado__autos__dcto__box
	background: $c-2
	border-radius: 20px
	width: 110px
	margin: auto
	margin-right: 0

.listado__autos__dcto
	padding: 8px 14px
	font-family: $t-2
	font-size: 13px
	color: $blanco
	p
		margin-bottom: 0

@media screen and (max-width: 1295px)
	.listado__filtros__item__select
		width: 170px

@media screen and (max-width: 1150px)
	.listado__filtros__btn
		margin-top: 30px

@media screen and (max-width: 1025px)
	.listado__autos__item
		margin: 6% 3.2%
		.btn-general
			padding: 10px 25px

@media screen and (max-width: 990px)
	.listado__autos__item
		width: 26%

	.listado__filtros__item__select
		select
			font-size: 17px

	.listado__filtros__item__text
		font-size: 13px

	.listado__filtros__box
		justify-content: center

	.listado__filtros__item
		width: 33.333%
		border: none
		margin-bottom: 10px


@media screen and (max-width: 680px)
	.listado__autos__item
		width: 42%

	.listado__renueva
		padding-bottom: 60px

	.listado__filtros__icon
		font-size: 23px

	.listado__filtros__text
		font-size: 20px
		padding-left: 6px
		width: 86%

	.listado__filtros__title
		padding-left: 0px
		display: flex

@media screen and (max-width: 480px)
	.listado__autos__item
		width: 65%
		margin: auto
		margin-bottom: 100px

	.listado__autos
		padding-bottom: 65px

	.listado__filtros__item
		width: 40%

@media screen and (max-width: 390px)
	.listado__autos__item
		width: 90%

	.listado__filtros__text
		font-size: 18px

	.listado__filtros__item
		width: 60%


