.pasos__proceso
	padding-top: 35px
	padding-bottom: 140px

.pasos__title
	max-width: 800px
	margin: auto
	padding: 0px 20px

.pasos__proceso__container
	max-width: 1140px
	margin: auto
	padding: 0px 20px

.pasos__title__box
	text-align: center
	padding-bottom: 200px

.pasos__title__img
	width: 78px
	margin: auto

.pasos__title__title
	text-align: center
	padding-top: 40px

.pasos__title__text
	padding-top: 40px
	text-align: center
	font-family: $t-3
	font-size: 18px
	color: $c-1
	p
		margin-bottom: 0

.pasos__proceso__content
	position: relative
	&:before
		content: ''
		position: absolute
		width: 1px
		height: 100%
		background-color: $c-3
		top: 0
		left: 50%

.pasos__proceso__box
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	position: relative
	padding-bottom: 80px
	&:nth-child(odd)
		flex-direction: row
		.pasos__proceso__img__content
			margin-right: 0
		.pasos__proceso__title__content
			flex-direction: row
		.pasos__proceso__text
			padding-left: 20px
	&:nth-child(even)
		flex-direction: row-reverse
		.pasos__proceso__img__content
			margin-left: 0
		.pasos__proceso__title__content
			flex-direction: row-reverse
		.pasos__proceso__text
			padding-right: 20px
	&.active
		.pasos__proceso__active
			transform: scale(1)
			opacity: 1
			visibility: visible

.pasos__proceso__img
	width: 39%
	transition: all .9s ease

.pasos__proceso__img__content
	max-width: 276px
	margin: auto
.pasos__proceso__active
	width: 22%
	transform: scale(0.9)
	opacity: 0
	visibility: hidden
	transition: all 0.4s ease-in-out

.pasos__proceso__circle
	width: 90px
	height: 90px
	margin: auto
	position: relative
	background-color: $c-3
	border-radius: 100%

.pasos__proceso__number
	font-family: $t-2
	font-size: 52px
	color: $blanco
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
	display: flex
	border-radius: 100px
	transition: all .5s ease

.pasos__proceso__title
	width: 39%
	transition: all .9s ease

.pasos__proceso__title__content
	margin: auto

.pasos__proceso__text
	font-family: $t-2
	font-size: 24px
	color: $c-1
	line-height: 1.08
	p
		margin-bottom: 0


.pasos__info__container
	background-color: $c-0
	position: relative

.pasos__info__line
	display: block
	width: 100%
	height: 60px
	background: $blanco
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	z-index: 2
	&:before
		content: ""
		display: block
		width: 106%
		height: 300%
		background: $c-0
		border-radius: 50%
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)

.pasos__info__content
	max-width: 1180px
	margin: auto
	padding: 100px 20px 65px 20px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: flex-start
	position: relative

.pasos__info__title
	width: 45%

.pasos__info__text
	max-width: 260px
	margin: auto

.pasos__info__img
	width: 45%
	position: absolute
	left: 0
	bottom: -35px

.pasos__info__box
	width: 55%

.pasos__info__form
	padding-bottom: 15px
	li
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center

.pasos__form__input
	width: 46%
	padding: 10px 10px

.pasos__form__select
	width: 98%
	padding: 10px 10px
	box-sizing: border-box

.pasos__form__textarea
	width: 98%
	padding: 10px 10px
	box-sizing: border-box

.pasos__form__text
	font-family: $t-3
	font-size: 13px
	color: $c-2
	padding: 0px 10px 20px 10px
	p
		margin-bottom: 0

.pasos__form__checkbox
	padding: 0px 10px 60px 10px
	.general__input__inside__container
		align-items: flex-start
	.general__input__text
		width: 95%
		a
			color: $c-2
			text-decoration: underline

.pasos__form__btn
	padding: 0px 10px
	text-align: right


@media screen and (max-width: 990px)
	.pasos__title__box
		padding-bottom: 100px

	.pasos__title__text
		font-size: 15px

	.pasos__info__title
		width: 100%

	.pasos__info__text
		max-width: 400px
		text-align: center
		padding-bottom: 30px

	.pasos__info__box
		width: 80%
		margin: auto

@media screen and (max-width: 690px)
	.pasos__proceso__content
		&:before
			display: none

	.pasos__proceso__img
		width: 70%
		margin: auto

	.pasos__proceso__title
		padding-top: 30px
		width: 80%
		margin: auto

	.pasos__info__box
		width: 100%

	.pasos__info__img
		display: none

	.pasos__proceso__box
		&:nth-child(odd)
			flex-direction: row-reverse
			.pasos__proceso__text
				padding-left: 0
		&:nth-child(even)
			.pasos__proceso__text
				padding-right: 0

	.pasos__proceso
		padding-top: 30px
		padding-bottom: 30px

@media screen and (max-width: 540px)
	.pasos__form__input
		width: 100%
		padding: 10px 0px

	.pasos__form__textarea,
	.pasos__form__select
		width: 100%
		padding: 10px 0px

	.pasos__form__text
		padding: 0 0 20px 0

	.pasos__form__checkbox
		padding: 0 0 40px 0

	.pasos__form__btn
		text-align: center

	.pasos__info__line
		height: 40px

	.pasos__proceso__title
		width: 100%

	.pasos__proceso__circle
		width: 70px
		height: 70px

	.pasos__proceso__number
		font-size: 38px

	.pasos__proceso__img
		width: 75%

	.pasos__title__text
		font-size: 14px

@media screen and (max-width: 390px)
	.pasos__proceso__circle
		width: 60px
		height: 60px

	.pasos__proceso__number
		font-size: 30px