.home__block__container
	display: flex
	height: 500px

.home__block__right
	max-width: 340px
	margin: auto
	padding: 0 15px
	box-sizing: border-box	
	.btn-general
		display: inline-block

.home__block__right__title
	h3
		font-size: 38px
		font-family: $t-1
		color: $c-4
		margin: 0
		line-height: 1.3

.home__block__right__button
	margin-top: 55px

.home__block__left
	max-width: 390px
	margin: auto
	padding: 0 15px
	box-sizing: border-box

.home__block__left__item
	display: flex
	align-items: center
	margin-bottom: 70px
	&:last-child
		margin-bottom: 0

.home__block__left__item__number
	width: 55px	
	height: 55px
	line-height: 55px
	text-align: center
	display: inline-block
	vertical-align: middle
	background: $c-3
	color: $blanco
	border-radius: 100%
	font-size: 24px
	font-family: $t-2
	box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.25)

.home__block__left__item__text
	display: inline-block	
	vertical-align: middle
	width: calc(100% - 55px)
	box-sizing: border-box
	padding-left: 20px
	font-size: 17px
	font-family: $t-2
	color: $c-4
	line-height: 1.6
	p
		margin: 0


@media screen and (max-width: 767px)
	.home__block__right__title h3
		font-size: 30px


	.home__block__container
		display: block
		height: auto

@media screen and (max-width: 1024px)
	.marcas-line-slider
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: $blanco
			opacity: .4

	.home__block__right
		position: relative
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		padding: 0 15px
		box-sizing: border-box
		flex-direction: column

	.home__block__right__title h3
		font-size: 30px

	.home__block__left
		position: relative
		display: flex
		align-items: center
		height: 100%
		max-width: 100%

	.home__block__left__item
		margin-bottom: 20px

	.home__block__left__item__number
		width: 45px
		height: 45px
		line-height: 45px
		font-size: 20px

	.home__block__left__item__text
		width: calc(100% - 45px)

	.home__block__right__button
		margin-top: 35px