extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- Contenido
block content
	//- banner title block
	.banner__general__container
		.banner__general__line
		.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
			.banner__general__content
				.banner__general__text.banner__general__text--block
					h2 Conoce los beneficios que 
						strong tenemos para ti 

	br
	br
	br

	//- banner title center
	.banner__general__container
		.banner__general__line
		.banner__general__image(style=`background-image: url('${STATIC_URL}img/banner-interno-img.jpg');`)
			.banner__general__content
				.banner__general__text
					h2 Entrega tu 
						strong camión usado 

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})