extends ./_common/base.pug
//- btn
block content

	a(href='').btn-general.btn-orange ENVIAR MENSAJE
	a(href='').btn-general.btn-black ENVIAR MENSAJE
	a(href='').btn-general-icon.btn-white anterior
	a(href='').btn-general-icon2.btn-white siguiente
