extends ./_common/base.pug
//- btn
block content
	h2.titulo-h2.titulo-color-orange Elige el camión International 0 Km
	p.parrafo-general.parrafo-grey.parrafo-align-left.componente-titulo-parrafo--margin-top
		| Un asesor comercial especializado te brindará la información del abanico de unidades que tenemos y te asesorará a escoger la(s) unidad(es) que más se ajuste a tus necesidades. Al mismo tiempo le brindarás la información detallada de la(s) unidad(es) que quieres dejar en parte de pago.