extends ./_common/base.pug
//- btn
block content
	.componente-producto-content
		.componente-producto__img
			img(src=`.${STATIC_URL}img/producto-muestra.jpg`)
		.componente-producto__titulo
			h4 Work Start
		.componente-producto__lista
			.componente-producto__lista-box
				p ELECTRALL
				.componente-producto__lista-span
			.componente-producto__lista-box
				p WORK
				.componente-producto__lista-span
			.componente-producto__lista-box
				p 2013
		.componente-producto__parrafo
			p U$S 120.000
		.componente-producto__btn
			a.btn-general.btn-orange( href='') EMÁS DETALLE
