extends ./_common/base.pug
//- btn
block content
	.componente-numero-parrafo--box-content
		.componente-numero-parrafo--box
			a.componente-numero-parrafo--a 1
		.componente-numero-parrafo--box.componente-numero-parrafo--padding
			p.parrafo-general.parrafo-grey.parrafo-align-left
				| Selecciona el camión International O Km que más se ajuste a tu necesidad