extends ./_common/base.pug
//- btn
block content
	.input-content-muestra
		form
			input.input-one.input--background-color-white(name='', type='', placeholder='Nombre*:')
			input.input-one.input--background-color-grey(name='', type='', placeholder='Nombre*:')
			.general__input.general__input--select.general__input__icon--right
				.general__input__inside
					.general__input__ico.general__input__ico__right.icon-arrow-down
					select(name="", class="general__input__input  general__input__input--background-color-white")
						option(value="0") Select0
						option(value="1") Select1
						option(value="2") Select2
			.general__input.general__input--select.general__input__icon--right
				.general__input__inside
					.general__input__ico.general__input__ico__right.icon-arrow-down
					select(name="", class="general__input__input  general__input__input--background-color-grey")
						option(value="0") Select0
						option(value="1") Select1
						option(value="2") Select2

			.general__input.general__input--check--radio.general__input--checkbox
				.general__input__inside
					input(type="checkbox", id="check1")
					label(for="check1", class="general__input--check--radio--label")
						.general__input__inside__container
							.general__input__figure
							.general__input__text Checkbox