extends ./_common/base.pug
//- btn
block content

	p.parrafo-general.parrafo-grey.parrafo-align-left
		| Las unidades seminuevas que se reciben en parte de pago han sido minuciosamente revisadas por nuestro personal técnico reparando cualquier falla mecánica o de carrocería con la que haya llegado y haciéndole un mantenimiento total para que nuestras unidades estén listas para trabajar inmediatamente. Un seminuevo Inter Perú tiene para seguir trabajando y rentabilizando por un muy buen tiempo.