extends ./_common/base.pug
//- btn
block content
	h1.titulo-h1.titulo-color-black Work Start Mixer
	h2.titulo-h2.titulo-color-orange Elige Tu Modelo Ideal.
	h3.titulo-h3.titulo-color-black Elige Tu Modelo Ideal.