// BUTTONS
.btn-general
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	transition-duration: 0.3s
	padding: 15px 50px
	pointer: cursor
.btn-orange
	background-color: $c-3
	border: solid 1px $c-3
	color: $blanco
	@media screen and (min-width: 1025px)
		&.btn-orange:hover
			background-color: $blanco
			border: solid 1px $c-3
			color: $c-3
.btn-black
	background-color: $c-2
	border: solid 1px $c-2
	color: $blanco
	@media screen and (min-width: 1025px)
		&.btn-black:hover
			background-color: $blanco
			border: solid 1px $c-2
			color: $negro
.btn-white
	background-color: $blanco
	border: solid 1px #bec1c4
	color: $c-1
	@media screen and (min-width: 1025px)
		&.btn-white:hover
			border: solid 1px $c-3
			color: $c-3
			&:before
				color: $c-3
.btn-general-icon
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	position: relative
	transition-duration: 0.1s
	padding: 13px 30px 13px 45px
	pointer: cursor
	color: #bec1c4
	&:before
		content: "\e607"
		font-size: 19px
		color: #bec1c4
		position: absolute
		font-family: $icomoon
		left: 25px
		margin-top: 2px
.btn-general-icon2
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	position: relative
	transition-duration: 0.1s
	padding: 13px 45px 13px 30px
	pointer: cursor
	color: #bec1c4
	&:before
		content: "\e606"
		font-size: 19px
		color: #bec1c4
		position: absolute
		font-family: $icomoon
		right: 25px
		margin-top: 2px
