// parrafo
.parrafo-general
	font-family: $t-3
	font-size: 17px
.parrafo-grey
	color: #808080
.parrafo-white
	color: $negro
.parrafo-align-right
	text-align: right
.parrafo-align-center
	text-align: center
.parrafo-align-left
	text-align: left

@media screen and (max-width: 980px)
	.parrafo-general
		font-size: 14px
