// titulo
.titulo-h1
	font-family: $t-1
	font-size: 65px
.titulo-h2
	font-family: $t-1
	font-size: 45px
.titulo-h3
	font-family: $t-1
	font-size: 40px
.titulo-color-white
	color: $blanco
.titulo-color-orange
	color: $c-3
.titulo-color-black
	color: $c-2

@media screen and (max-width: 990px)
	.titulo-h1
		font-size: 55px
	.titulo-h2
		font-size: 35px
	.titulo-h3
		font-size: 30px

@media screen and (max-width: 680px)
	.titulo-h1
		font-size: 50px
	.titulo-h2
		font-size: 30px
	.titulo-h3
		font-size: 25px
