// input
.input-content-muestra
	padding-top: 50px
	max-width: 50%
	margin: 0 auto
	background-color: grey
	padding-left: 50px
	padding-right: 50px
	padding-bottom: 50px
.input-one
	box-sizing: border-box
	width: 100%
	border: none	
	height: 55px
	padding-left: 34px
	padding-right: 34px
	font-size: 15px
	font-family: $t-3
	border-radius: 40px
.input--background-color-whithe
	background-color: $blanco
.input--background-color-grey
	background-color: #e3e6e9
input::placeholder
	color: #272726

.general__input__ico__right
	position: relative
	&:before
		position: absolute
		content: "\e908"
		font-family: $icomoon
		font-weight: bold
		font-size: 8px
		color: $negro
		right: 20px
		top: 5px

@media screen and (max-width: 640px)
	.input-one
		height: 50px