// componente numero parrafo
.componente-numero-parrafo--box-content
	display: flex
	flex-direction: row
	flex-wrap: nowrap
.componente-numero-parrafo--a
	background-color: $c-3
	border-radius: 35px
	padding: 15px 20px
.componente-numero-parrafo--box
	border: solid 1px $blanco
	display: flex
	align-items: center
.componente-numero-parrafo--padding
	padding-left: 20px
	padding-top: 15px