// componente producto
.componente-producto-content
	width: 272px
	height: auto
	text-align: center
.componente-producto__titulo
	font-family: $t-3
	color: #272726
	font-size: 20px
	padding-bottom: 8px
	box-sizing: border-box
.componente-producto__parrafo
	font-family: $t-2
	color: #272726
	font-size: 20px
	font-weight: bold
	margin-top: 15px
.componente-producto__lista
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	font-family: $t-3
	color: #808080
	font-size: 13px
.componente-producto__lista-box
	padding-left: 12px
	padding-right: 15px
.componente-producto__lista-span
	position: relative
	&:before
		content: "|"
		font-family: $t-3
		display: block
		font-size: 15px
		color: #808080
		position: absolute
		top: -32px
		right: -16px
.componente-producto__btn
	margin-top: 29px
	opacity: 0
	position: relative
	z-index: -1
	transition-duration: 0.3s
.componente-producto-content:hover
	.componente-producto__btn
		margin-top: 29px
		opacity: 1
		position: relative
		z-index: 1