.banner__general__container
	width: 100%
	height: 340px
	position: relative

.banner__general__line
	display: block
	width: 100%
	height: 60px
	background: transparent
	position: absolute
	bottom: 0
	left: 0
	overflow: hidden
	z-index: 2
	&:before
		content: ""
		display: block
		width: 110%
		height: 300%
		background: $blanco
		border-radius: 50%
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)

.banner__general__image
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	position: relative
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to right, rgba(39,39,38,0.95) 0%, rgba(39,39,38,0.95) 100%)

.banner__general__content
	max-width: 1600px
	margin: auto
	padding: 0px 20px
	box-sizing: border-box
	position: relative
	display: flex
	height: 100%
	align-items: center

.banner__general__text
	text-align: center
	margin: auto
	h2
		font-family: $t-1
		font-size: 45px
		color: $blanco
		margin-bottom: 0
	strong
		color: $c-3

.banner__general__text--block
	strong
		display: block

@media screen and (max-width: 768px)
	.banner__general__text
		h2
			font-size: 35px

@media screen and (max-width: 640px)
	.banner__general__text
		h2
			font-size: 32px

@media screen and (max-width: 480px)
	.banner__general__text
		h2
			font-size: 30px

	.banner__general__line
		height: 40px